
{% if page.name == "index.md" %}
  <div class="page-nav">
    <ul class="nav">
      <li><a class="slow" href="#">About Us</a></li>
      <li><a class="slow" href="#about_open_space">About Open Space</a></li>
      <li><a class="slow" href="#faq">FAQ</a></li>
      <li><a class="slow" href="#contact_us">Contact Us</a></li>
    </ul>
  </div>
{% else %}
  <ul class="nav">
    <li><a href="/#">About Us</a></li>
    <li><a href="/#about_open_space">About Open Space</a></li>
    <li><a href="/#faq">FAQ</a></li>
    <li><a href="/#contact_us">Contact Us</a></li>
  </ul>
{% endif %}

<ul class="nav">
  {% if page.year %}
    <li class="page-nav">
      <a href="/{{ page.year }}">{{ page.year }} Conference</a>
      <ul class="nav">
        <li><a class="slow" href="#overview">Overview</a></li>
        <li><a class="slow" href="#schedule">Schedule</a></li>
        <li><a class="slow" href="#location">Location</a></li>
        <li><a class="slow" href="#sponsors">Sponsors</a></li>
        <li><a class="slow" href="#hosts">Hosts</a></li>
        <li><a class="slow" href="#attendees">Attendees</a></li>
        {% if page.notes-url %}
          <li><a href="{{ page.notes-url }}">Session Notes</a></li>
        {% endif %}
      </ul>
    </li>
  {% else %}
    {% if site.next-other-event-url %}
      <li><a href="{{ site.next-other-event-url }}">{{ site.next-other-event-name }}</a></li>
    {% endif %}
    <li><a href="/{{ site.years[0] }}">{{ site.years[0] }} Conference</a></li>
    <li><a href="/{{ site.years[1] }}">{{ site.years[1] }} Conference</a></li>
  {% endif %}
</ul>

<div class="btn-group dropup">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Other years... <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    {% for year in site.years %}
      <li><a href="/{{ year }}">{{ year }} Conference</a></li>
    {% endfor %}
    <li><a href="/2013">2013 Conference</a></li>
    <li><a href="/2012">2012 Conference</a></li>
    <li><a href="/2011">2011 Conference</a></li>
    <li><a href="/2010">2010 Conference</a></li>
    <li><a href="/2009">2009 Conference</a></li>
    <li><a href="/2008">2008 Conference</a></li>
    <li><a href="/2007">2007 Conference</a></li>
  </ul>
</div>
