<p>Find out <a href="#" data-toggle="modal" data-target="#myModal">how your company can become a sponsor of Agile Open Northwest</a></p>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sponsorship Opportunities</h4>
      </div>
      <div class="modal-body">
        <p> Sponsorship of Agile Open Northwest will help the agile development movement in the Pacific Northwest, while giving your company visibility as an agile leader. There are three sponsorship levels, with corresponding benefits: </p>

        <h5> $1500 or more </h5>
        <p> You will receive three complimentary registrations and your logo will display on our website. Material you provide will be made available on the resources table. If desired, you have the opportunity to host an evening event. </p>

        <h5> $1000 Level </h5>
        <p> You will receive two complimentary registrations and your logo will display on our website. Material you provide will be made available on the resources table. </p>

        <h5> $500 Level </h5>
        <p> You will receive one complimentary registration and your logo will display on our website. Material you provide will be made available on the resources table. </p>

        <h4>Contact Us</h4>
        <p> Please contact us at sponsor@agileopennorthwest.org for more information about sponsoring. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
