<p>Find out <a href="#" data-toggle="modal" data-target="#myModal">how your company can become a sponsor of Agile Open Northwest</a></p>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sponsorship Opportunities</h4>
      </div>
      <div class="modal-body">
        <p> Sponsorship of Agile Open Northwest helps the agile development movement in the Pacific Northwest, while giving your company visibility as an agile leader. </p>
        <p> Agile Open Northwest sponsorships are available at the following levels: </p>
        
        <h5> $3000 or more </h5>
        <p> Your logo will be displayed on our website and you receive three complimentary registrations. Material you provide will be made available on the resources table. </p>

        <h5> $2000 </h5>
        <p> Your logo will be displayed on our website and you receive two complimentary registrations.  Material you provide will be made available on the resources table. </p>

        <h5> $1000 </h5>
        <p> Your logo will be displayed on our website and you receive one complimentary registration. Material you provide will be made available on the resources table. </p>
      
        <h5> Facility Sponorships </h5>
        <p> Sponsor the evening dinner, conference wi-fi, or graphics recorder. </p>

        <h4>Contact Us</h4>
        <p> Please contact us at sponsor@agileopennorthwest.org for more information about sponsoring. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
