<table class="table table-condensed table-striped participants">
  <tbody><tr>
    <th></th>
    <th>Name / Twitter</th>
    <th>Company / Role</th>
    <th>City</th>
  </tr>

<tr valign="top"><td>&nbsp;</td><td>Aaron&nbsp;Getz<br></td><td>NWEA<br><i>Developer</i></td><td>Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Aaron&nbsp;Joyner<br></td><td>Vertafore<br><i>Tester</i></td><td>Bothell, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Abbie&nbsp;Espindola<br></td><td>inComm Digital Solutions<br><i>ScrumMaster / Coach</i></td><td>Portland Oregon</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Adam&nbsp;Light<br></td><td>SoTech Advisors<br><i>Consultant</i></td><td>Portland</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Adam&nbsp;Yuret<br><a href="http://twitter.com/AdamYuret">@AdamYuret</a></td><td>Context Driven Agility<br><i>Consultant</i></td><td>Seattle WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Adrianne&nbsp;Hersrud<br></td><td>Marchex<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Aeden&nbsp;Jameson<br><a href="http://twitter.com/daliful">@daliful</a></td><td>Getty Images<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Aki&nbsp;Namioka<br></td><td>Marchex<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Al&nbsp;Shalloway<br><a href="http://twitter.com/alshall">@alshall</a></td><td>Net Objectives<br><i>Consultant</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Alan&nbsp;Sebring<br></td><td>Lean Effect<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Alicia&nbsp;Lanier<br></td><td>Lanier Consulting, LLC<br><i>Consultant</i></td><td>Portland, Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Alicia&nbsp;Lanier<br></td><td>Lanier Consulting, LLC<br><i>Consultant</i></td><td>Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Alla&nbsp;Tarasenko<br></td><td>Allrecipes<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Amy&nbsp;Kirkland<br></td><td>inComm Digital Solutions<br><i>Project Management</i></td><td>Portland Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Andrew&nbsp;Tunall<br></td><td>inComm Digital Solutions<br><i>Product Manager</i></td><td>Portland Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Arlo&nbsp;Belshee<br><a href="http://twitter.com/arlobelshee">@arlobelshee</a></td><td>Microsoft<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Ashley&nbsp;Girard<br></td><td>Nordstrom<br><i>Process Improvement Analyst</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Barry&nbsp;Miller<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Becky&nbsp;Lowrie<br></td><td>Tree Top, Inc.<br><i>Project Management</i></td><td>Yakima, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Bobby&nbsp;Bonds<br></td><td>Vertafore<br><i>Project Management</i></td><td>Bothell, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Brent&nbsp;Barton<br><a href="http://twitter.com/Brentbarton">@Brentbarton</a></td><td>Rally Software<br><i>Product line director</i></td><td>Kirkland</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Brian&nbsp;Gaudreau<br></td><td>PNSQC<br><i>Consultant</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Brian&nbsp;O'Fallon<br></td><td>NA<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Bryan&nbsp;Rowe<br></td><td>Alaska Airlines<br><i>Manager</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Bryan&nbsp;Rogers<br></td><td>inComm Digital Solutions<br><i>ScrumMaster / Coach</i></td><td>Portland Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Bryant&nbsp;Syme<br></td><td>Incomm Digital Solutions<br><i>Developer</i></td><td>Portland Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Bryant&nbsp;Syme<br></td><td>inComm Digital Solutions<br><i>Developer</i></td><td>Portland Oregon</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Chad&nbsp;Utley<br><a href="http://twitter.com/chadutley">@chadutley</a></td><td>Pluralsight<br><i>Content Acquisition</i></td><td>Utah</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Chris&nbsp;Freyer<br></td><td>Marchex<br><i>ScrumMaster / Coach</i></td><td>Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Chris&nbsp;McKenzie<br><a href="http://twitter.com/ISuperGeek">@ISuperGeek</a></td><td>Parametric Portfolio Associates<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Chris&nbsp;Sjoholm<br><a href="http://twitter.com/chris_sjoholm">@chris_sjoholm</a></td><td>Russell Investments<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Chris&nbsp;Zazzi<br></td><td>Marchex<br><i>ScrumMaster / Coach</i></td><td>Seattle WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Chris&nbsp;Zazzi<br></td><td>Integrum<br><i>ScrumMaster / Coach</i></td><td>Chandler,AZ</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Chris&nbsp;Pitzer<br></td><td>MobilePaks<br><i>Product &amp; UX</i></td><td>Portland, OR</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Chris&nbsp;Carkhuff<br></td><td>DashCube<br><i>Project Management</i></td><td>McLean, VA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Christina&nbsp;Romo<br></td><td>Vertafore<br><i>Tester</i></td><td>Bothell</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Christy&nbsp;Clement<br></td><td>Davisbase Consulting<br><i>Consultant</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Chuck&nbsp;van der Linden<br><a href="http://twitter.com/ChuckvdL">@ChuckvdL</a></td><td>The Climate Corporation<br><i>Tester</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Clinton&nbsp;Rice<br></td><td>Vertafore<br><i>Director</i></td><td>Bothell, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Crystal&nbsp;Areal<br><a href="http://twitter.com/inspiredcrystal">@inspiredcrystal</a></td><td>UTi<br><i>ScrumMaster / Coach</i></td><td>Salem, Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Dan&nbsp;Mason<br><a href="http://twitter.com/jdanmason">@jdanmason</a></td><td>JDMC<br><i>Consultant</i></td><td>Seattle WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Dan&nbsp;Dicamillo<br></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Dandan He&nbsp;He<br></td><td>Microsoft<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Daniel&nbsp;Dosen<br><a href="http://twitter.com/dgdosen">@dgdosen</a></td><td>AGI Development<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Dave&nbsp;Landis<br></td><td>LitheSpeed<br><i>UX</i></td><td>Seattle</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Dave&nbsp;Johnson<br></td><td>SolutionsIQ<br><i>HR Manager</i></td><td>Redmond</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Dave&nbsp;Nash<br></td><td>ADP<br><i>Project Management</i></td><td>Portland</td></tr>
<tr valign="top"><td>&nbsp;</td><td>David&nbsp;Bernstein<br><a href="http://twitter.com/ToBeAgile">@ToBeAgile</a></td><td>&nbsp;<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>David&nbsp;Socha<br></td><td>University of Washington Bothell<br><i>Assistant Professor</i></td><td>Seattle, Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>David&nbsp;Foster<br></td><td>Pearson<br><i>Chief Architect/Agile Mentor</i></td><td>chandler, az</td></tr>
<tr valign="top"><td>&nbsp;</td><td>David&nbsp;Goodman<br></td><td>Amdocs<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Debbie&nbsp;Rutherford<br></td><td>SolutionsIQ<br><i>Account Manager</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Deborah&nbsp;Brey<br></td><td>Boeing<br><i>Agile Champion</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Deborah&nbsp;Dubrow<br><a href="http://twitter.com/deliciousbaby">@deliciousbaby</a></td><td>deliciousbaby.com<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Derek&nbsp;Neighbors<br><a href="http://twitter.com/dneighbors">@dneighbors</a></td><td>Gangplank<br><i>Consultant</i></td><td>Chandler</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Dhaval&nbsp;Panchal<br><a href="http://twitter.com/dhavalpanchal">@dhavalpanchal</a></td><td>SolutionsIQ<br><i>ScrumMaster / Coach</i></td><td>Seattle/Redmond</td></tr>
<tr valign="top"><th><a href="hosts.php">H</a></th><td>Diana&nbsp;Larsen<br><a href="http://twitter.com/DianaOfPortland also @FutureWks">@DianaOfPortland also @FutureWks</a></td><td>FutureWorks Consulting LLC<br><i>Consultant</i></td><td>Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Diana&nbsp;McCasey<br></td><td>&nbsp;<br><i>Agile Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Diane&nbsp;Redenbaugh<br></td><td>Nordstrom<br><i>training coordinator</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Doerte&nbsp;Mahanay<br></td><td>Cambia<br><i>Product Owner</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Don&nbsp;Shanks<br><a href="http://twitter.com/baldpenguin">@baldpenguin</a></td><td>Marchex, Inc.<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Doug&nbsp;Reynolds<br><a href="http://twitter.com/fdreyno">@fdreyno</a></td><td>PNSQC<br><i>ScrumMaster / Coach</i></td><td>Beaverton, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Doug &nbsp;Webster<br></td><td>Tree Top Inc<br><i>Project Management</i></td><td>Selah, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Douglas&nbsp;Shanks<br></td><td>Conway<br><i>Developer</i></td><td>Portland, Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Dylan&nbsp;Hulbert<br></td><td>Nordstrom<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Elena&nbsp;Kruler<br></td><td>Visa<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Elise&nbsp;Shapiro<br></td><td>Twisted Pair Solutions<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Eric&nbsp;Anderson<br></td><td>MindWorksDev<br><i>Developer</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Erik&nbsp;Odenborg<br></td><td>Microsoft<br><i>Program Manager</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Erin&nbsp;Kelly<br></td><td>Classmates.com<br><i>Project Management</i></td><td>Seattle Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Galina &nbsp;Betz<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Mountlake Terrace</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Gerry&nbsp;Kirk<br></td><td>&nbsp;<br><i>Consultant</i></td><td>Sault Ste. Marie, ON, CANADA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Graham&nbsp;Bremner<br></td><td>Smilebox<br><i>Developer</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Grant&nbsp;Beck<br></td><td>PlasterGroup, LLC<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Greg&nbsp;Myers<br></td><td>ShareBuilder by CapitalOne<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Halim&nbsp;Dunsky<br><a href="http://twitter.com/halimdunsky">@halimdunsky</a></td><td>Solutions IQ, Inc.<br><i>Consultant</i></td><td>Seattle area</td></tr>
<tr valign="top"><th><a href="hosts.php">H</a></th><td>Ian&nbsp;Savage<br><a href="http://twitter.com/iesavage">@iesavage</a></td><td>McAfee/Intel<br><i>Consultant</i></td><td>Bend, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Ian&nbsp;Witucki<br></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jade&nbsp;Meskill<br></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Chandler,AZ</td></tr>
<tr valign="top"><td>&nbsp;</td><td>James&nbsp;Bass<br></td><td>UTi Worldwide<br><i>ScrumMaster / Coach</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>James&nbsp;Newkirk<br><a href="http://twitter.com/jamesnewkirk">@jamesnewkirk</a></td><td>Tier 3, a CenturyLink Company<br><i>Developer</i></td><td>Bellevue, WA</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>James&nbsp;White<br></td><td>Microsoft / Skype<br><i>ScrumMaster / Coach</i></td><td>London, UK</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Jamie&nbsp;Webber<br></td><td>Rally Software<br><i>Account Manager</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jane&nbsp;Chateaubriand<br></td><td>Marchex<br><i>Program Manager</i></td><td>WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Janice&nbsp;Linden-Reed<br></td><td>David J Anderson and Associates, Inc<br><i>Executive</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jason&nbsp;Bodie<br></td><td>Smilebox<br><i>Developer</i></td><td>Redmond, wa</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jay&nbsp;Bazuzi<br><a href="http://twitter.com/jaybazuzi">@jaybazuzi</a></td><td>Microsoft<br><i>Developer</i></td><td>Port Townsend, WA</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Jean&nbsp;Richardson<br><a href="http://twitter.com/JeanAtAzureGate">@JeanAtAzureGate</a></td><td>Azure Gate Consulting, LLC<br><i>Consultant</i></td><td>Portland</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jean&nbsp;Richardson<br><a href="http://twitter.com/JeanAtAzureGate">@JeanAtAzureGate</a></td><td>Azure Gate Consulting, LLC<br><i>Consultant</i></td><td>Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jeff&nbsp;Nicholls<br></td><td>Solutons IQ<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Jeff&nbsp;Nicholls<br></td><td>SolutionsIQ<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jeff&nbsp;Schwaber<br><a href="http://twitter.com/freyley">@freyley</a></td><td>MobilePaks<br><i>Dev &amp; Manage &amp; Coach</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jeff&nbsp;Weaver<br></td><td>Sharebuilder<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jeff&nbsp;Langton<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jeffrey&nbsp;Smith<br><a href="http://twitter.com/visionary1usa">@visionary1usa</a></td><td>SeaSPIN<br><i>Consultant</i></td><td>Seattle Metro Area</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jennifer&nbsp;Lynde<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Mountlake Terrace</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jennifer&nbsp;Ingram<br></td><td>Allrecipes<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th><a href="hosts.php">H</a></th><td>Jeremy&nbsp;Lightsmith<br><a href="http://twitter.com/lightsmith">@lightsmith</a></td><td>Outpace<br><i>Developer</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jerry&nbsp;Sewell<br></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jill&nbsp;Chin<br></td><td>Alaska Airlines<br><i>Project Management</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jim&nbsp;Klein<br></td><td>Cambia Health Solutions<br><i>Product Owner</i></td><td>Portland</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Joe&nbsp;Lukan<br><a href="http://twitter.com/joelukan">@joelukan</a></td><td>&nbsp;<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Joe&nbsp;Blotner<br></td><td>Marchex<br><i>Dev Manager</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Joel&nbsp;Robinson<br></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>John&nbsp;Felix<br></td><td>Tree Top, Inc.<br><i>Overhead</i></td><td>Yakima, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>John&nbsp;Saunders<br><a href="http://twitter.com/JOHNOSAUNDERS">@JOHNOSAUNDERS</a></td><td>MQS Group LLC<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jordi&nbsp;Ferre<br></td><td>Pearson<br><i>Dev Manager/Agile Mentor</i></td><td>chandler, az</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Joseph&nbsp;Okane<br></td><td>Clinaero<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Jourdan&nbsp;Bauer<br></td><td>UTi Worldwide<br><i>ScrumMaster / Coach</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Justin&nbsp;Crisostomo<br></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Justin&nbsp;Redd<br><a href="http://twitter.com/justinredd">@justinredd</a></td><td>@justinredd<br><i>Consultant</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Karen&nbsp;Lahey<br></td><td>Marchex<br><i>Developer</i></td><td>Issaquah</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Kelly&nbsp;Crimmins<br></td><td>Bill &amp; Melinda Gates Foundation<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Kelly&nbsp;Kemmerling<br></td><td>QBE<br><i>Developer</i></td><td>Bellevue, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Kim&nbsp;Wallmark<br><a href="http://twitter.com/kimwallmark">@kimwallmark</a></td><td>Microsoft<br><i>Developer</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Kimberly&nbsp;Williams<br></td><td>Parametric<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Kitty&nbsp;Parker<br></td><td>Classmates.com<br><i>Project Management</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Kyle&nbsp;Aaron<br></td><td>Cambia Health<br><i>ScrumMaster / Coach</i></td><td>Portland, Or</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Larry&nbsp;Cross<br></td><td>Amdocs<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Lauren&nbsp;Yee<br></td><td>Apex Learning, Inc.<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Laurie&nbsp;Soetanto<br></td><td>Parametric Portfolio<br><i>Tester</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Lei&nbsp;Zhao<br></td><td>&nbsp;<br><i>Developer</i></td><td>Washington</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Len&nbsp;Epp<br><a href="http://twitter.com/lenepp">@lenepp</a></td><td>DashCube<br><i>Project Management</i></td><td>Montreal, Quebec</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Leslie &nbsp;Lamprecht<br></td><td>Twisted Pair<br><i>Developer</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Linda&nbsp;Merrick<br></td><td>Pivotal Product Management<br><i>Product Manager/Product Owner</i></td><td>Bothell, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Llewellyn&nbsp;Falco<br><a href="http://twitter.com/llewellynfalco">@llewellynfalco</a></td><td>&nbsp;<br><i>Consultant</i></td><td>ca</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Lonny&nbsp;Cross<br></td><td>Visa<br><i>ScrumMaster / Coach</i></td><td>Bellevue, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Lori&nbsp;Priebe<br></td><td>Twisted Pair Solutions<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Lourdes&nbsp;Vidueira<br></td><td>Visa<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Lynda&nbsp;Hyland<br></td><td>Allrecipes<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Lynette&nbsp;Skinner<br></td><td>Microsoft<br><i>Instructional Designer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Mark&nbsp;Knell<br><a href="http://twitter.com/markknell">@markknell</a></td><td>Epiq Systems<br><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Mark&nbsp;Manzo<br></td><td>Rally Software<br><i>Major Account Manager</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Mark&nbsp;Vanderboom<br></td><td>&nbsp;<br><i>Developer</i></td><td>Federal Way, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Martin&nbsp;Lovell<br></td><td>Clinaero<br><i>Developer</i></td><td>Connecticut</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Mary&nbsp;Panza<br><a href="http://twitter.com/PanzaMary">@PanzaMary</a></td><td>Parametric Portfolio Associates<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Matt&nbsp;Greff<br><a href="http://twitter.com/greff">@greff</a></td><td>Marchex<br><i>Product Manager</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Matt&nbsp;Raibert<br><a href="http://twitter.com/mattraibert">@mattraibert</a></td><td>Cyrus<br><i>Developer</i></td><td>Brooklyn, NY</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Matt&nbsp;Plavcan<br></td><td>Intel<br><i>Technical Practices Coach</i></td><td>Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Melvin&nbsp;Perez<br></td><td>Construx<br><i>Consultant</i></td><td>Bellevue WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Michael&nbsp;Kunugiyama<br></td><td>Marchex<br><i>Developer</i></td><td>Seattle, wa</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Michael&nbsp;Ferrante<br></td><td>Sitka Technology Group, LLC<br><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Michael&nbsp;Ibarra<br><a href="http://twitter.com/bm2yogi">@bm2yogi</a></td><td>ThoughtWorks, Inc.<br><i>Consultant</i></td><td>Seattle,  Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Michael&nbsp;Squires<br></td><td>Marchex<br><i>Developer</i></td><td>Seattle</td></tr>
<tr valign="top"><th><a href="hosts.php">H</a></th><td>Michael&nbsp;Tardiff<br></td><td>Agile Open Northwest<br><i>Consultant</i></td><td>Seattle WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Michael&nbsp;Wolf<br><a href="http://twitter.com/LearningWolf">@LearningWolf</a></td><td>&nbsp;<br><i>Consultant</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Michaela&nbsp;Hutfles<br><a href="http://twitter.com/3countylaugh">@3countylaugh</a></td><td>Premera<br><i>Release manager</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Michelle&nbsp;Wu<br></td><td>Parametric Portfolio<br><i>Tester</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Miguel &nbsp;Salas<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Mountlake terrace</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Mike&nbsp;Shkolnik<br></td><td>UTi Worldwide<br><i>ScrumMaster / Coach</i></td><td>Portland OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Mike&nbsp;Broz<br></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Washington</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Miten&nbsp;Mehta<br><a href="http://twitter.com/mi10">@mi10</a></td><td>Microsoft / Skype<br><i>Developer</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Miyuki &nbsp;Mondloch<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Mountlake Terrace</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Moss&nbsp;Collum<br><a href="http://twitter.com/moss">@moss</a></td><td>Cyrus Innovation<br><i>Consultant</i></td><td>Boston, MA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Nadine&nbsp;Bauthamy<br></td><td>&nbsp;<br><i>Project Management</i></td><td>Portland</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Nam&nbsp;Kim<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Mountlake Terrace</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Nathan&nbsp;Clarenburg<br></td><td>&nbsp;<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Omer&nbsp;Ben Bassat<br></td><td>Marchex<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Pat&nbsp;Hemmen<br></td><td>Vertafore, Inc<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Patrick&nbsp;Escarcega<br></td><td>Parametric Portfolio Associates<br><i>Director of Development</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Patrick&nbsp;Dodd<br></td><td>Visa<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Paul&nbsp;OldenKamp<br></td><td>Russell Investments<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Paula &nbsp;Hannan<br><a href="http://twitter.com/doodleno1">@doodleno1</a></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Peter&nbsp;Armstrong<br><a href="http://twitter.com/peterarmstrong">@peterarmstrong</a></td><td>DashCube<br><i>Project Management</i></td><td>Victoria, BC</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Phil&nbsp;Brock<br></td><td>Agile Alliance<br><i>Managing Director, Agile Alliance</i></td><td>Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Phyllis&nbsp;Thompson<br></td><td>ShiftWise<br><i>ScrumMaster / Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Pranay&nbsp;Khicha<br></td><td>AVIT Technologies<br><i>Consultant</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Priya&nbsp;Sundaravathanen<br></td><td>Visa<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Raj&nbsp;Indugula<br></td><td>LitheSpeed<br><i>Developer</i></td><td>Manassas, VA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Rajender&nbsp;Tella<br></td><td>Pearson<br><i>Development Manager</i></td><td>Scottsdale AZ</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Ray&nbsp;Lee<br></td><td>Sitka Technology Group, LLC<br><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Rebecca&nbsp;Roberts<br></td><td>UTI<br><i>ScrumMaster / Coach</i></td><td>Portland</td></tr>
<tr valign="top"><th><a href="hosts.php">H</a></th><td>Rebecca&nbsp;Wirfs-Brock<br><a href="http://twitter.com/rebeccawb">@rebeccawb</a></td><td>Wirfs-Brock Associates<br><i>Teacher/mentor</i></td><td>Sherwood OR</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Rhea&nbsp;Stadick<br></td><td>Intel<br><i>Organizational Coach</i></td><td>Oregon</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Richard&nbsp;Watt<br></td><td>Alluvial Consulting<br><i>Consultant</i></td><td>Seattle WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Rick&nbsp;Campbell<br></td><td>Marchex<br><i>Development Manager</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Rick&nbsp;Jost<br></td><td>&nbsp;<br><i>UX</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>robert&nbsp;morris<br><a href="http://twitter.com/rwmorris2">@rwmorris2</a></td><td>Marchex Inc.<br><i>ScrumMaster / Coach</i></td><td>seattle, wa</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Roger&nbsp;Lucas<br></td><td>Tree Top, Inc.<br><i>Business Analyst</i></td><td>Yakima, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Ron&nbsp;Quartel<br><a href="http://twitter.com/rquartel">@rquartel</a></td><td>SolutionsIQ<br><i>Developer</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Ronae&nbsp;Bunger<br></td><td>Cambia HealthSolutions<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Rusty&nbsp;Coleman<br></td><td>Marchex<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Sage&nbsp;Vann<br><a href="http://twitter.com/wisevehicle">@wisevehicle</a></td><td>&nbsp;<br><i>Consultant</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Sandeep&nbsp;Verma<br></td><td>Vertafore Inc<br><i>Developer</i></td><td>Bothell</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Sarah&nbsp;Adams<br></td><td>Edoc<br><i>Project Management</i></td><td>Victoria, BC</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Scot&nbsp;Kelly<br></td><td>Microsoft<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Scott&nbsp;Huddleston<br></td><td>Microsoft / Skype<br><i>Developer</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Scott&nbsp;Lonheim<br></td><td>Protiviti<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Sevina&nbsp;Sultanova<br><a href="http://twitter.com/GoAgile7">@GoAgile7</a></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Seattle, New York</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Shama&nbsp;Bole<br></td><td>PlasterGroup, LLC<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Shane&nbsp;Groff<br></td><td>Microsoft<br><i>Developer</i></td><td>Bellevue, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Skip&nbsp;Angel<br><a href="http://twitter.com/skipangel">@skipangel</a></td><td>BigVisible Solutions<br><i>Consultant</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Sonia&nbsp;Vaughan<br></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Stacy&nbsp;Schatz<br></td><td>Allrecipes<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Steve&nbsp;Shapero<br><a href="http://twitter.com/computer_paul">@computer_paul</a></td><td>Substantial<br><i>Principal &amp; Partner</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Steve&nbsp;Schroeder<br></td><td>SolutionsIQ<br><i>Consultant</i></td><td>Redmond, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Steve&nbsp;Moore<br></td><td>Amdocs<br><i>Project Management</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Steve&nbsp;Schroeder<br></td><td>SolutionsIQ<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Steven&nbsp;Fish<br></td><td>&nbsp;<br><i>Developer</i></td><td>REdmond</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Steven&nbsp;Smith<br><a href="http://twitter.com/stevenMsmith1">@stevenMsmith1</a></td><td>&nbsp;<br><i>Consultant</i></td><td>Bellevue, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Stewart&nbsp;Loving-Gibbard<br></td><td>Sitka Technology Group, LLC<br><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Sumanth&nbsp;Kodury<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Washington</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Sunny&nbsp;Monroe<br></td><td>&nbsp;<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Sylvia&nbsp;Taylor<br><a href="http://twitter.com/sylviataylor">@sylviataylor</a></td><td>SolutionsIQ<br><i>Consultant</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Tammy&nbsp;Moe<br></td><td>Con-way<br><i>Project Management</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Tanarut&nbsp;Phanichkul<br></td><td>Smilebox<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Ted&nbsp;St. Clair<br></td><td>Premera Blue Cross<br><i>ScrumMaster / Coach</i></td><td>Mountlake Terrace</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Ted&nbsp;Bardusch<br></td><td>Marchex<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Teresa &nbsp;Kremer<br></td><td>Premera Blue Cross<br><i>Agile Coach</i></td><td>Mountlake Terrace</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Teri&nbsp;Walton<br></td><td>Tree Top, Inc.<br><i>ScrumMaster / Coach</i></td><td>Yakima, WA</td></tr>
<tr valign="top"><th><a href="hosts.php">H</a></th><td>Tom&nbsp;Perry<br><a href="http://twitter.com/tlperry">@tlperry</a></td><td>Visa<br><i>Manager</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Tonianne&nbsp;DeMaria Barry<br><a href="http://twitter.com/sprezzatura">@sprezzatura</a></td><td>Modus Cooperandi<br><i>Partner/I DO ALL THE THINGS</i></td><td>Seattle. WA</td></tr>
<tr valign="top"><th><a href="hosts.php">H</a></th><td>Troy&nbsp;Frever<br><a href="http://twitter.com/troywfrever">@troywfrever</a></td><td>Smilebox<br><i>Leadership</i></td><td>WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Troy&nbsp;Magennis<br><a href="http://twitter.com/t_magennis">@t_magennis</a></td><td>Focused Objective LLC<br><i>Consultant</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Valerie&nbsp;Jensen<br></td><td>Visa<br><i>ScrumMaster / Coach</i></td><td>American Fork, UT</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Valerie&nbsp;Morris<br></td><td>Visa<br><i>ScrumMaster / Coach</i></td><td>Seattle</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Varokas&nbsp;Panusuwan<br></td><td>&nbsp;<br><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Varokas&nbsp;Panusuwan<br></td><td>ADP<br><i>Developer</i></td><td>seattle, wa</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Walt&nbsp;Campbell<br></td><td>Allrecipes<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Wendy&nbsp;Casey<br></td><td>Nordstrom<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><th><a href="sponsors.php">S</a></th><td>Wendy&nbsp;Parker<br></td><td>PlasterGroup, LLC<br><i>Consultant</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Wes&nbsp;Maldonado<br><a href="http://twitter.com/wes">@wes</a></td><td>&nbsp;<br><i>ScrumMaster / Coach</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Wes&nbsp;Sanford<br></td><td>Microsoft<br><i>Tester</i></td><td>Washington</td></tr>
<tr valign="top"><th style="color: #339900"><i>V</i></th><td>Willem&nbsp;Larsen<br><a href="http://twitter.com/cascadiawillem">@cascadiawillem</a></td><td>Language Hunters<br><i>Creative Director</i></td><td>Portland, OR</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Yenna&nbsp;Cheng<br></td><td>Nordstrom<br><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign="top"><td>&nbsp;</td><td>Zachary&nbsp;Smith<br><a href="http://twitter.com/zax_myth">@zax_myth</a></td><td>Substantial<br><i>Developer</i></td><td>Seattle, WA</td></tr>
</tbody></table>
<p style="margin-left: 3.5em"><i>H</i> = Host, <i>S</i> = Sponsor, <i>V</i> = Volunteer


    </p>