<table class='table table-striped table-condensed'>
<thead><tr><th></th><th>Name / Twitter</th><th>Company / Role</th><th>City</th></tr></thead>
<tbody>
<tr valign='top'><td></td><td>Aaron&nbsp;Getz</td><td>NWEA<br/><i>Developer</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Aaron&nbsp;Griffith</td><td>&nbsp;<br/><i></i></td><td></td></tr>
<tr valign='top'><td></td><td>Aaron&nbsp;Griffith<br/><a href='http://twitter.com/Aaron_Griffith'>@Aaron_Griffith</a></td><td>Hunter Industries<br/><i>Developer</i></td><td>San Marcos, CA</td></tr>
<tr valign='top'><td></td><td>Aashish&nbsp;Vaiday<br/><a href='http://twitter.com/aashishvaidya'>@aashishvaidya</a></td><td>Cambia Health Solutions<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, Oregeon</td></tr>
<tr valign='top'><td></td><td>Abbie&nbsp;Espindola</td><td>InComm Digital Solutions<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Adam&nbsp;Light</td><td>SoTech Advisors<br/><i>Consultant / External Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Adrianne&nbsp;Hersrud</td><td>Marchex<br/><i>Engineering Manager</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Ainsley&nbsp;Nies<br/><a href='http://twitter.com/ainszo'>@ainszo</a></td><td>Acorn Consulting Enterprises<br/><i>Consultant / External Coach</i></td><td>Pacifica, CA</td></tr>
<tr valign='top'><td></td><td>Aki&nbsp;Namioka</td><td>Marchex<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Alex &nbsp;Miller<br/><a href='http://twitter.com/puredanger'>@puredanger</a></td><td>&nbsp;<br/><i>Developer</i></td><td>st louis, mo</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Alicia&nbsp;Lanier</td><td>Lanier Consulting, LLC<br/><i>Consultant / External Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Amudhan&nbsp;Krishnan</td><td>Con-way<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Amy&nbsp;Ryan</td><td>Nordstrom<br/><i>Product Management</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Andre&nbsp;Elizondo</td><td>Chef<br/><i>Consultant / External Coach</i></td><td>Los Angeles</td></tr>
<tr valign='top'><td></td><td>Andrea&nbsp;Acheson</td><td>agile42<br/><i>Managing Director</i></td><td>Vancouver BC</td></tr>
<tr valign='top'><td></td><td>Andrea&nbsp;Whitaker</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>oregon</td></tr>
<tr valign='top'><td></td><td>Andrea&nbsp;Zuill<br/><a href='http://twitter.com/badbirdsart'>@badbirdsart</a></td><td>&nbsp;<br/><i>Artist</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Andrew&nbsp;Whaples</td><td>Tripwire<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland Oregon</td></tr>
<tr valign='top'><td></td><td>Anne Marie&nbsp;Smith<br/><a href='http://twitter.com/iSmithAM'>@iSmithAM</a></td><td>Intel Security<br/><i>Project Management</i></td><td>Beaverton, OR</td></tr>
<tr valign='top'><td></td><td>Arlo&nbsp;Belshee<br/><a href='http://twitter.com/arlobelshee'>@arlobelshee</a></td><td>Innovating Teams<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Arthur&nbsp;Lender</td><td>CLEAResult<br/><i>Project Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Ben&nbsp;Sherwood</td><td>Intel Security<br/><i>Program Manager/ScrumMaster/Developer</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Beth&nbsp;Miller</td><td>Lithespeed<br/><i>Consultant / External Coach</i></td><td>http://lithespeed.com/</td></tr>
<tr valign='top'><td></td><td>Bethany&nbsp;Joy</td><td>Evisions<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Bob&nbsp;Gale<br/><a href='http://twitter.com/bawbgale'>@bawbgale</a></td><td>GameHouse<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Bob&nbsp;Lieberman</td><td>Viewpoint<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Bolun Jason&nbsp;Du</td><td>Tune<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Brad&nbsp;Wilson<br/><a href='http://twitter.com/bradwilson'>@bradwilson</a></td><td>CenturyLink Cloud<br/><i>Developer</i></td><td>Redmond, WA</td></tr>
<tr valign='top'><td></td><td>Braden&nbsp;Simpson</td><td>&nbsp;<br/><i>Developer</i></td><td>Victoria, BC</td></tr>
<tr valign='top'><td></td><td>Brett&nbsp;Jones</td><td>D+H<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Olsen</td><td>&nbsp;<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Brian &nbsp;Jones </td><td>Brooks Sports<br/><i>Business / Management</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Sly Haley</td><td>SAIF<br/><i>Business / Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Weissmeyer</td><td>Amdocs<br/><i>ScrumMaster / Internal Coach</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Sanborn</td><td>USDA Forest Service<br/><i>Project Management</i></td><td>Corvallis, OR</td></tr>
<tr valign='top'><td></td><td>Bryant&nbsp;Syme<br/><a href='http://twitter.com/bryzaguy'>@bryzaguy</a></td><td>Incomm Digital Solutions<br/><i>Developer</i></td><td>Portland Oregon</td></tr>
<tr valign='top'><td></td><td>Buck&nbsp;Woodward</td><td>Nike<br/><i>Agile / SDLC / Security / Privacy Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>C&nbsp;A</td><td>Tree Top Inc.<br/><i>Project Management</i></td><td>Selah, WA</td></tr>
<tr valign='top'><td></td><td>Caitlin&nbsp;Warnock</td><td>Nordstrom<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Charlie&nbsp;Poole</td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Poulsbo WA</td></tr>
<tr valign='top'><td></td><td>Chet&nbsp;Amborn</td><td>Windsor Solutions<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Chris&nbsp;Moody</td><td>Slalom Consulting<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle wa</td></tr>
<tr valign='top'><td></td><td>Chris&nbsp;Freeman</td><td>Monsoon Commerce<br/><i>Tester / QA</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Chris &nbsp;Liddell</td><td>Webtrends<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Chris&nbsp;Lucian<br/><a href='http://twitter.com/christophlucian'>@christophlucian</a></td><td>&nbsp;<br/><i>Developer</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Christine&nbsp;Austin</td><td>Rain Tree<br/><i>Product Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Christy&nbsp;Clement</td><td>Davisbase Consulting<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Colin&nbsp;Hart</td><td>Charted Solutions LLC<br/><i>Consultant / External Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Conor&nbsp;Buescher</td><td>Nike WHQ<br/><i>ScrumMaster / Internal Coach</i></td><td>Beaverton, Or</td></tr>
<tr valign='top'><td></td><td>Cotten&nbsp;Blackwell</td><td>&nbsp;<br/><i></i></td><td></td></tr>
<tr valign='top'><td></td><td>Damion&nbsp;Moyer</td><td>&nbsp;<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Dan&nbsp;DiCamillo<br/><a href='http://twitter.com/criticalthinker'>@criticalthinker</a></td><td>REI<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Daniel&nbsp;Lin</td><td>&nbsp;<br/><i>airline</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>Danny&nbsp;Cho</td><td>Con-way<br/><i></i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Darius&nbsp;Grudzien</td><td>Intel Corporation<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Bernstein</td><td>To Be Agile<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Patterson</td><td>Monsoon Commerce<br/><i>Tester / QA</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Slick<br/><a href='http://twitter.com/david_slick'>@david_slick</a></td><td>InComm<br/><i>Business / Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Whitlock</td><td>Tripwire, Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Goodman</td><td>Amdocs<br/><i>ScrumMaster / Internal Coach</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Starr</td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Sammamish, WA</td></tr>
<tr valign='top'><td></td><td>Derek&nbsp;Austin</td><td>Puppet Labs<br/><i>Project Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Dhaval&nbsp;Panchal<br/><a href='http://twitter.com/dhavalpanchal'>@dhavalpanchal</a></td><td>agile42<br/><i>Consultant / External Coach</i></td><td>Katy, TX</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Diana&nbsp;Larsen</td><td>FutureWorks Consulting, LLC<br/><i>Consultant / External Coach</i></td><td>Portland OR</td></tr>
<tr valign='top'><td></td><td>Diana&nbsp;Kolomiyets</td><td>Kolo Consyulting<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Diane&nbsp;Brady</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Dina&nbsp;Campion</td><td>Starbucks Coffee Company<br/><i>Business / Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Donald &nbsp;Emerson</td><td>SAIF Corporation <br/><i>Business / Management</i></td><td>Salem</td></tr>
<tr valign='top'><td></td><td>Doug&nbsp;Reynolds</td><td>Tektronix/PNSQC<br/><i>ScrumMaster / Internal Coach</i></td><td>Beaverton, OR</td></tr>
<tr valign='top'><td></td><td>doug&nbsp;shanks</td><td>Con-way<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Dylan&nbsp;Hulbert<br/><a href='http://twitter.com/dylanhulbert'>@dylanhulbert</a></td><td>Nordstrom<br/><i>Business / Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Elise&nbsp;Shapiro</td><td>Qumulo<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Erica&nbsp;Beffert</td><td>Evisions<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Erick&nbsp;Banks<br/><a href='http://twitter.com/ '>@ </a></td><td>&nbsp;<br/><i>Tester / QA</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Erika&nbsp;Kardos</td><td>Kardos Creations, LLC.<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Erika&nbsp;Langhauser</td><td>Viewpoint Construction Software<br/><i>ScrumMaster / Internal Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Erin&nbsp;Chapman</td><td>Tektronix<br/><i>Developer</i></td><td>Beaverton, OR</td></tr>
<tr valign='top'><td></td><td>Erin&nbsp;Garlow</td><td>Parametric Portfolio Associates<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Gabriel&nbsp;Key</td><td>&nbsp;<br/><i>Project Management</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Garrick&nbsp;West</td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Gaylen&nbsp;Miller</td><td>&nbsp;<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Gina&nbsp;Anzaldo<br/><a href='http://twitter.com/ginabean'>@ginabean</a></td><td>Federal Reserve Bank<br/><i>Project Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Giorgio&nbsp;Leon-Guerrero</td><td>VersionOne<br/><i>Enterprise Sales</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Gokul&nbsp;Suryadevara</td><td>Monsoon Commerce<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Greg&nbsp;Myers</td><td>Capital One<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Gregg&nbsp;Milks</td><td>SAIF<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Harold&nbsp;Shinsato<br/><a href='http://twitter.com/hajush'>@hajush</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Stevensville, MT</td></tr>
<tr valign='top'><td></td><td>Heather &nbsp;Cottings</td><td>SAIF Corporation <br/><i>Business Services Supervisor</i></td><td>Salem</td></tr>
<tr valign='top'><td></td><td>Heidi&nbsp;Pio</td><td>Puppet Labs<br/><i>Project Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Ian&nbsp;Davies<br/><a href='http://twitter.com/leapingfrogs'>@leapingfrogs</a></td><td>Yammer : Microsoft<br/><i>Developer</i></td><td>San Francisco, CA</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Ian&nbsp;Savage<br/><a href='http://twitter.com/iesavage'>@iesavage</a></td><td>Intel (Ret.)<br/><i>Tester / QA</i></td><td>Bend</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Bass</td><td>UTi Worldwide<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Counts<br/><a href='http://twitter.com/jamesrcounts'>@jamesrcounts</a></td><td>FNC Inc<br/><i>Developer</i></td><td>Murrieta</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Newkirk<br/><a href='http://twitter.com/jamesnewkirk'>@jamesnewkirk</a></td><td>CenturyLink Cloud<br/><i>Business / Management</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Shore<br/><a href='http://twitter.com/jamesshore'>@jamesshore</a></td><td>Titanium I.T. LLC<br/><i>Consultant / External Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jason&nbsp;Kerney<br/><a href='http://twitter.com/JasonKerney'>@JasonKerney</a></td><td>Hunter Industries<br/><i>Developer</i></td><td>San Diego</td></tr>
<tr valign='top'><td></td><td>Jay&nbsp;Vandewark</td><td>Webtrends<br/><i>Developer</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Jay&nbsp;Bazuzi<br/><a href='http://twitter.com/jaybazuzi'>@jaybazuzi</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Jean&nbsp;Richardson<br/><a href='http://twitter.com/JeanAtAzureGate'>@JeanAtAzureGate</a></td><td>Azure Gate Consulting, LLC<br/><i>Consultant / External Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Bellegarde<br/><a href='http://twitter.com/Coach'>@Coach</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Brinkerhoff</td><td>CLEAResult<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Honeycutt</td><td>Brooks Sports Inc<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Olfert</td><td>New Relic<br/><i>Engineering Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jen&nbsp;Oleson</td><td>Slalom LLC<br/><i>ScrumMaster / Internal Coach</i></td><td>Redmond, WA</td></tr>
<tr valign='top'><td></td><td>Jen&nbsp;Fredinburg</td><td>SAIF<br/><i>Business / Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Jeremy&nbsp;Davis</td><td>&nbsp;<br/><i>Tester / QA</i></td><td>seattle wa</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Jeremy&nbsp;Lightsmith</td><td>Outpace<br/><i>Developer</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Jerry&nbsp;Todd</td><td>SAIF<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Jesse&nbsp;Stone</td><td>Webtrends<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Jessica&nbsp;Frank</td><td>SAIF Corporation <br/><i>Business Analyst</i></td><td>Salem</td></tr>
<tr valign='top'><td></td><td>Jessica&nbsp;Sonday</td><td>VersionOne<br/><i>Product Marketing Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jim&nbsp;Klein</td><td>ObjectPrism Corp.<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Joanne&nbsp;Stewart</td><td>Con-way<br/><i></i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Joel&nbsp;Robinson</td><td>Rei<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, wa</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Countryman</td><td>SAIF Corporation<br/><i>Lead Programmer Analyst</i></td><td>Salem</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Frey</td><td>SAIF Corporation<br/><i>Developer</i></td><td>Salem</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Grant<br/><a href='http://twitter.com/jegrant3'>@jegrant3</a></td><td>Agile Attorney Consulting<br/><i>Consultant / External Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Felix</td><td>Tree Top Inc.<br/><i>Business / Management</i></td><td>Selah, WA</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Hagler</td><td>Tree Top Inc.<br/><i>Developer</i></td><td>Selah, WA</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Vivio</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jon&nbsp;Cillis</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland,Oregon</td></tr>
<tr valign='top'><td></td><td>Jon&nbsp;Farr</td><td>FlightStats<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jorgen&nbsp;Hesselberg<br/><a href='http://twitter.com/jhesselberg'>@jhesselberg</a></td><td>Intel <br/><i>Business / Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Julia&nbsp;Fleck</td><td>SAIF<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Justin&nbsp;Redd<br/><a href='http://twitter.com/justinredd'>@justinredd</a></td><td>Chef<br/><i>doge</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Kari&nbsp;Kjersti</td><td>CD Baby<br/><i>ScrumMaster / Internal Coach</i></td><td>Vancouver, WA</td></tr>
<tr valign='top'><td></td><td>Kate&nbsp;Kerney</td><td>Home<br/><i>Developer</i></td><td>San Diego CA</td></tr>
<tr valign='top'><td></td><td>Kathy&nbsp;Doiron</td><td>Starbucks<br/><i>Business / Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Kelly&nbsp;West</td><td>&nbsp;<br/><i>Agile Student</i></td><td>Kent, WA</td></tr>
<tr valign='top'><td></td><td>Ken&nbsp;Howard</td><td>McAfee<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Kenn&nbsp;Hussey<br/><a href='http://twitter.com/KennHussey'>@KennHussey</a></td><td>Puppet Labs, Inc.<br/><i>Project Management</i></td><td>Ottawa, Ontario</td></tr>
<tr valign='top'><td></td><td>Keshvar&nbsp;Jafari</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, ORegon</td></tr>
<tr valign='top'><td></td><td>Kevin&nbsp;Turner</td><td>MobilePaks<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Kim&nbsp;Byelick</td><td>Symantec<br/><i>Dir. Program Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Kim&nbsp;Wangler</td><td>Tree Top Inc.<br/><i>Business / Management</i></td><td>Selah, WA</td></tr>
<tr valign='top'><td></td><td>Kimberly &nbsp;Brown</td><td>Costco Travel<br/><i>Business Analyst</i></td><td>Issaquah WA</td></tr>
<tr valign='top'><td></td><td>Kiran Kumar Reddy&nbsp;Katkuri</td><td>UTI Worldwide<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Krishna&nbsp;Rao</td><td>Surescripts, LLC<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Kristin&nbsp;Olsen</td><td>&nbsp;<br/><i></i></td><td></td></tr>
<tr valign='top'><td></td><td>Larry&nbsp;Cross</td><td>Amdocs<br/><i>ScrumMaster / Internal Coach</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Laura&nbsp;Lyman</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Les&nbsp;Grove</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Lisa&nbsp;Dowling</td><td>Slalom Consulting<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Lizabeth&nbsp;Fox</td><td>&nbsp;<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>LLEWELLYN&nbsp;FALCO<br/><a href='http://twitter.com/llewellynfalco'>@llewellynfalco</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>ca</td></tr>
<tr valign='top'><td></td><td>Lori&nbsp;Norman</td><td>Starbucks Coffee Company<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Lori&nbsp;Pallister</td><td>SAIF<br/><i>Business / Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Lorie&nbsp;Gordon<br/><a href='http://twitter.com/cricketgordon'>@cricketgordon</a></td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Lynda&nbsp;Gusick</td><td>Nordstrom<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Maaret&nbsp;Pyhäjärvi<br/><a href='http://twitter.com/maaretp'>@maaretp</a></td><td>&nbsp;<br/><i>Tester / QA</i></td><td>helsinki, finland</td></tr>
<tr valign='top'><td></td><td>Mark &nbsp;Lander</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Mark&nbsp;Alexander</td><td>Webtrends<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Mark&nbsp;Burleson</td><td>SAIF<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Mark&nbsp;Liebe</td><td>City of Portland - Bureau of Environmental Services<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Mark&nbsp;Manzo</td><td>Rally Software<br/><i>Business / Management</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Martin&nbsp;Chase</td><td>MobilePaks<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Martin&nbsp;Fitch</td><td>Kaiser Permanente<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland Oregon</td></tr>
<tr valign='top'><td></td><td>Mary&nbsp;Maclachlan</td><td>FlightStats<br/><i>Project Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Matt&nbsp;Kramer</td><td>Capital One<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, wa</td></tr>
<tr valign='top'><td></td><td>Matthew&nbsp;Plavcan</td><td>Intel Corporation<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Matthew&nbsp;Stratton<br/><a href='http://twitter.com/mattstratton'>@mattstratton</a></td><td>Chef Software Inc<br/><i>Consultant / External Coach</i></td><td>Chicago</td></tr>
<tr valign='top'><td></td><td>Megan&nbsp;Benton</td><td>Monsoon Commerce<br/><i>ScrumMaster / Internal Coach</i></td><td>Potland, OR</td></tr>
<tr valign='top'><td></td><td>Melinda&nbsp;Hillier</td><td>SAIF<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Belding</td><td>ShiftWise<br/><i>Business / Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Krohn<br/><a href='http://twitter.com/mkrohn129'>@mkrohn129</a></td><td>Capital One<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Tardiff</td><td>&nbsp;<br/><i></i></td><td></td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Michael&nbsp;Tardiff<br/><a href='http://twitter.com/mjt'>@mjt</a></td><td>Agile Open Northwest<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Wolf</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Wolf</td><td>&nbsp;<br/><i></i></td><td></td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Ferrante</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Lynch</td><td>ISI<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Michaela&nbsp;Hutfles</td><td>&nbsp;<br/><i></i></td><td></td></tr>
<tr valign='top'><td></td><td>Michaela&nbsp;Hutfles<br/><a href='http://twitter.com/3countylaugh'>@3countylaugh</a></td><td>General UI<br/><i>Product Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Michelle&nbsp;Peralta</td><td>SAIF<br/><i>Business / Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Michelle&nbsp;Hochstetler</td><td>NWEA<br/><i>Tester / QA</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Michelle&nbsp;Salvado<br/><a href='http://twitter.com/msalvado'>@msalvado</a></td><td>Intel Security<br/><i>Business / Management</i></td><td>Beaverton, OR</td></tr>
<tr valign='top'><td></td><td>Mike&nbsp;Lonergan<br/><a href='http://twitter.com/Paranoidmike'>@Paranoidmike</a></td><td>Intel<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Mike&nbsp;Shkolnik<br/><a href='http://twitter.com/rtcguy'>@rtcguy</a></td><td>Mad Martian<br/><i>ScrumMaster / Internal Coach</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>Mike&nbsp;Rowe</td><td>&nbsp;<br/><i>Growth Hacker</i></td><td>Victoria, BC</td></tr>
<tr valign='top'><td></td><td>Mitchell&nbsp;Huff</td><td>Nike<br/><i>Project Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Moss&nbsp;Drake<br/><a href='http://twitter.com/ScrumMaster / Project Lead'>@ScrumMaster / Project Lead</a></td><td>DMC<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Nadine&nbsp;Bauthamy</td><td>CDK<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Niles&nbsp;Love</td><td>SolutionsIQ<br/><i>Business / Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Nitesh&nbsp;Shah</td><td>McAfee<br/><i>Developer</i></td><td>Bearton, Oregon</td></tr>
<tr valign='top'><td></td><td>Pamela&nbsp;Durham van Wingerden</td><td>Scout Project Solutions<br/><i>Project Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Patrick&nbsp;Curtain<br/><a href='http://twitter.com/pcurtain'>@pcurtain</a></td><td>SWDev, Co.<br/><i>Consultant / External Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Paul&nbsp;Imel</td><td>D+H<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Paula&nbsp;Hannan<br/><a href='http://twitter.com/doodleno1'>@doodleno1</a></td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Peter&nbsp;Armstrong</td><td>&nbsp;<br/><i>Business / Management</i></td><td>Victoria</td></tr>
<tr valign='top'><td></td><td>Phil&nbsp;Brock</td><td>Agile Alliance<br/><i>Business / Management</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Phyllis&nbsp;Thompson</td><td>ShiftWise<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Prerna&nbsp;Ajmera</td><td>&nbsp;<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Rachel&nbsp;Sakry<br/><a href='http://twitter.com/ribbitfix'>@ribbitfix</a></td><td>MobilePaks<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Rajasree&nbsp;Talla</td><td>Puppet Labs Inc<br/><i>Project Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Rakshya&nbsp;Sigdel</td><td>Parametric Portfolio Associates<br/><i>Tester / QA</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Rashmi&nbsp;Joshi</td><td>SAIF<br/><i>Project Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Ray&nbsp;Lee</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Rebecca&nbsp;R</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Portlandia</td></tr>
<tr valign='top'><td></td><td>Rebecca&nbsp;Seago-Coyle</td><td>Brooks Sports<br/><i>Project Management</i></td><td>WA</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Rebecca&nbsp;Wirfs-Brock<br/><a href='http://twitter.com/rebeccawb'>@rebeccawb</a></td><td>Wirfs-Brock Associates<br/><i>Consultant / External Coach</i></td><td>Sherwood, OR</td></tr>
<tr valign='top'><td></td><td>Rekha&nbsp;Chunduri</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, oregon</td></tr>
<tr valign='top'><td></td><td>Richard&nbsp;Veino</td><td>Brooks Sports<br/><i>Developer</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Rick&nbsp;Vanbeek</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>oregon</td></tr>
<tr valign='top'><td></td><td>Robyn&nbsp;Baron</td><td>VersionOne<br/><i>Enterprise Sales</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Ron&nbsp;Jaramillo</td><td>Bonneville Power Administration<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Ron &nbsp;Quartel </td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>redmond, Washington </td></tr>
<tr valign='top'><td></td><td>Ruth&nbsp;Struck</td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Sachin&nbsp;Menon</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>portland, oregon</td></tr>
<tr valign='top'><td></td><td>Scott&nbsp;Jones</td><td>Intel<br/><i>Project Management</i></td><td>Hillsboro</td></tr>
<tr valign='top'><td></td><td>Shannon&nbsp;Ewan<br/><a href='http://twitter.com/ShannonEwan'>@ShannonEwan</a></td><td>International Consortium for Agile<br/><i>Consultant / External Coach</i></td><td>Los Angeles, CA</td></tr>
<tr valign='top'><td></td><td>Shella&nbsp;Knoll</td><td>Tree Top Inc.<br/><i>Project Management</i></td><td>Selah, WA</td></tr>
<tr valign='top'><td></td><td>Shirley&nbsp;Hewitt</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>portland,oregon</td></tr>
<tr valign='top'><td></td><td>Simon&nbsp;Macpherson<br/><a href='http://twitter.com/simonmacphers0n'>@simonmacphers0n</a></td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Bellevue Washington</td></tr>
<tr valign='top'><td></td><td>Skip&nbsp;Angel</td><td>Rally Software<br/><i>Consultant / External Coach</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Stacey&nbsp;Mitsuda</td><td>NWEA<br/><i>Project Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Steve &nbsp;Schroeder</td><td>Solutionsiq<br/><i>Consultant / External Coach</i></td><td>redmond, Washington </td></tr>
<tr valign='top'><td></td><td>Steve&nbsp;Hamilton<br/><a href='http://twitter.com/stevenhamilton'>@stevenhamilton</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Mercer Island</td></tr>
<tr valign='top'><td></td><td>Steven&nbsp;Barlow</td><td>Puppet Labs<br/><i>Project Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Steven&nbsp;Liu</td><td>Slalom Consulting<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Stewart&nbsp;Loving-Gibbard</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Sue&nbsp;Coe</td><td>SAIF<br/><i>Business / Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Suzie&nbsp;Haberland</td><td>Starbucks<br/><i>Business / Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Taylor&nbsp;Hess</td><td>Sitka Technology Group<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Teri&nbsp;Walton</td><td>Tree Top Inc.<br/><i>Project Management</i></td><td>Selah, WA</td></tr>
<tr valign='top'><td></td><td>Teri&nbsp;Christian</td><td>Nordstrom<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Thomas&nbsp;Perry<br/><a href='http://twitter.com/tlperry'>@tlperry</a></td><td>Visa<br/><i>Project Management</i></td><td>Belleuve, WA</td></tr>
<tr valign='top'><td></td><td>Tim&nbsp;Gallagher</td><td>Intel<br/><i>ScrumMaster / Internal Coach</i></td><td>Hillsboro</td></tr>
<tr valign='top'><td></td><td>Tina&nbsp;Hayworth</td><td>SAIF<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Todd&nbsp;Gentry</td><td>D+H<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Todd&nbsp;Melton</td><td>InComm<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Tom&nbsp;Haile</td><td>Tree Top Inc.<br/><i>Developer</i></td><td>Selah, WA</td></tr>
<tr valign='top'><td></td><td>Tom&nbsp;Abshire<br/><a href='http://twitter.com/agilefluent'>@agilefluent</a></td><td>AgileFluent, LLC.<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Trace&nbsp;Morgan</td><td>Viewpoint<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland Oregon</td></tr>
<tr valign='top'><td></td><td>Tracie&nbsp;Corpe</td><td>SAIF Corporation <br/><i>Business Analyst</i></td><td>Salem</td></tr>
<tr valign='top'><td></td><td>Tracy&nbsp;Vicente</td><td>Nordstrom<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Troy&nbsp;Frever<br/><a href='http://twitter.com/troywfrever'>@troywfrever</a></td><td>Fanzo<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Valerie&nbsp;Reynolds</td><td>SAIF<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Valerie&nbsp;Morris</td><td>&nbsp;<br/><i>Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Victor&nbsp;Bonacci<br/><a href='http://twitter.com/AgileCoffee'>@AgileCoffee</a></td><td>Agile Coach Camp US West<br/><i>ScrumMaster / Internal Coach</i></td><td>Irvine, CA</td></tr>
<tr valign='top'><td></td><td>Victor&nbsp;Torres</td><td>Intel<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Vijay&nbsp;Doshi</td><td>Tableau Software<br/><i>Project Management</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>VIKRAM&nbsp;SHEVDE<br/><a href='http://twitter.com/vikramshevde'>@vikramshevde</a></td><td>Slalom Consulting<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Wayne&nbsp;Allen</td><td>ISI<br/><i>VP</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Wen&nbsp;Lee</td><td>&nbsp;<br/><i>airline</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>Wes&nbsp;Ruemping</td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Wesley&nbsp;Thoemke</td><td>D+H<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Willem&nbsp;Larsen<br/><a href='http://twitter.com/CascadiaWillem'>@CascadiaWillem</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Portland OR</td></tr>
<tr valign='top'><td></td><td>William&nbsp;Rux</td><td>CrossCurrent, Inc<br/><i>Product Management</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Wolf&nbsp;Schuster</td><td>CMD<br/><i>Product Management</i></td><td>Portland OR</td></tr>
<tr valign='top'><td></td><td>Woody&nbsp;Zuill<br/><a href='http://twitter.com/woodyzuill'>@woodyzuill</a></td><td>&nbsp;<br/><i>Developer</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Yarrow&nbsp;Murphy</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland Oregon</td></tr>
<tr valign='top'><td></td><td>Zac &nbsp;Bedell</td><td>Webtrends<br/><i>Developer</i></td><td>Seattle</td></tr>
</tbody>
</table>
<p style='margin-left: 3.5em'><i>H</i> = Host, <i>S</i> = Sponsor, <i>V</i> = Volunteer