<table class='table table-striped table-condensed'>
<thead><tr><th></th><th>Name / Twitter</th><th>Company / Role</th><th>City</th></tr></thead>
<tbody>
<tr valign='top'><td></td><td>Aaron&nbsp;Griffith<br/><a href='http://twitter.com/Aaron_Griffith'>@Aaron_Griffith</a></td><td>Hunter Industries<br/><i>Developer</i></td><td>San Marcos, CA</td></tr>
<tr valign='top'><td></td><td>Adam&nbsp;Feuer<br/><a href='http://twitter.com/adamfeuer'>@adamfeuer</a></td><td>CookBrite, Inc.<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Adam&nbsp;Light</td><td>SoTech Advisors<br/><i>Consultant / External Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Adam&nbsp;Weisbart<br/><a href='http://twitter.com/weisbart.com'>@weisbart.com</a></td><td>Weisbart Consulting, Inc<br/><i>Consultant / External Coach</i></td><td>Vashon WA</td></tr>
<tr valign='top'><td></td><td>Adam&nbsp;Yuret<br/><a href='http://twitter.com/AdamYuret'>@AdamYuret</a></td><td>Context Driven Agility<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Ainsley&nbsp;Nies<br/><a href='http://twitter.com/ainszo'>@ainszo</a></td><td>Acorn Consulting Enterprises<br/><i>Consultant / External Coach</i></td><td>Pacifica, CA</td></tr>
<tr valign='top'><td></td><td>Aki&nbsp;Namioka</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Alberto&nbsp;Aguirre</td><td>Tree Top, Inc.<br/><i>Engineer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Alec&nbsp;Swirski</td><td>Parametric Portfolio Associates<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Alicia&nbsp;Flatt</td><td>Qumulo, Inc<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Anand&nbsp;Joglekar</td><td>CDK Global, Inc<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Andrea &nbsp;Whitaker</td><td>Portland General Electric<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Andrea&nbsp;Acheson</td><td>agile42<br/><i>Business / Management</i></td><td>Vancouver</td></tr>
<tr valign='top'><td></td><td>Andy&nbsp;Whaples</td><td>Tripwire<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Anna&nbsp;Golousikova</td><td>Microsoft<br/><i>Project Management</i></td><td>Moscow</td></tr>
<tr valign='top'><td></td><td>Anne&nbsp;Joutsenvirta</td><td>Qumulo<br/><i>UX</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Anson&nbsp;Tsao</td><td>GoDaddy.com<br/><i>Product Management</i></td><td>Kirkland, WA</td></tr>
<tr valign='top'><td></td><td>Arlo&nbsp;Belshee<br/><a href='http://twitter.com/arlobelshee'>@arlobelshee</a></td><td>Innovating Teams, LLC<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Ashlyn&nbsp;Leahy</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Bela&nbsp;Espinosa</td><td>Tree Top, Inc.<br/><i>Engineer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Ben&nbsp;Gitenstein</td><td>Qumulo, Inc.<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Björn&nbsp;Levidow</td><td>GoDaddy<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Bob&nbsp;Gale<br/><a href='http://twitter.com/bawbgale'>@bawbgale</a></td><td>Blastworks Inc<br/><i>Product Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Brent&nbsp;Barton<br/><a href='http://twitter.com/brentbarton'>@brentbarton</a></td><td>&nbsp;<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Brett&nbsp;Morien<br/><a href='http://twitter.com/askheaves'>@askheaves</a></td><td>Attack Pattern<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Gaudreau</td><td>Avanade<br/><i>Business / Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Geihsler<br/><a href='http://twitter.com/BrianGeihsler'>@BrianGeihsler</a></td><td>CenturyLink<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Rivera</td><td>AGLX, LLC<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Thomas</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Wiessmeyer</td><td>Qumulo<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Bruce&nbsp;Winegarden<br/><a href='http://twitter.com/bruceweev'>@bruceweev</a></td><td>Eagle Eye View<br/><i>Consultant / External Coach</i></td><td>Sammamish</td></tr>
<tr valign='top'><td></td><td>Carlton&nbsp;Nettleton<br/><a href='http://twitter.com/carlton858'>@carlton858</a></td><td>Look Forward Consulting<br/><i>Consultant / External Coach</i></td><td>San Diego, CA</td></tr>
<tr valign='top'><td></td><td>Caroline&nbsp;Nelson</td><td>Starbucks<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Carolyn&nbsp;Schmidt</td><td>&nbsp;<br/><i>Project Management</i></td><td>Eugene, OR</td></tr>
<tr valign='top'><td></td><td>Cedric&nbsp;Williams</td><td>PayPal<br/><i>Some Kind Of Evil Minion</i></td><td>San Jose, CA</td></tr>
<tr valign='top'><td></td><td>Charlena&nbsp;Houck</td><td>Tree Top, Inc.<br/><i>Tester / QA</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Charles&nbsp;George</td><td>Portland General Electric<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Charlotte&nbsp;Battersby</td><td>Hunter Industries Inc<br/><i>Developer</i></td><td>Carlsbad, CA</td></tr>
<tr valign='top'><td></td><td>Chris&nbsp;Moody<br/><a href='http://twitter.com/chriswmoody'>@chriswmoody</a></td><td>Slalom Consulting<br/><i>ScrumMaster / Internal Coach</i></td><td>Kirkland, WA</td></tr>
<tr valign='top'><td></td><td>Christien&nbsp;Austin</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Christina Kjær&nbsp;Seime<br/><a href='http://twitter.com/christinakseime'>@christinakseime</a></td><td>Miles AS<br/><i>Consultant / External Coach</i></td><td>Oslo, Norway</td></tr>
<tr valign='top'><td></td><td>Christopher&nbsp;Alexander</td><td>AGLX Consulting, LLC<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Christopher&nbsp;Boumenot</td><td>&nbsp;<br/><i>Developer</i></td><td>Redmond, WA</td></tr>
<tr valign='top'><td></td><td>Christopher&nbsp;Gantner</td><td>Slalom Consulting<br/><i>Project Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Christopher&nbsp;Lucian<br/><a href='http://twitter.com/ChristophLucian'>@ChristophLucian</a></td><td>Hunter Industries<br/><i>Business / Management</i></td><td>San Marcos California</td></tr>
<tr valign='top'><td></td><td>Christy&nbsp;Clement</td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Cimarron&nbsp;Ryan</td><td>Microsoft<br/><i>Developer</i></td><td>Redmond, WA</td></tr>
<tr valign='top'><td></td><td>Conny&nbsp;Spann</td><td>Proliance Consulting<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Conor &nbsp;Buescher</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland/Beaverton, Oregon</td></tr>
<tr valign='top'><td></td><td>Cotten&nbsp;Blackwell</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Dalene&nbsp;Feucht</td><td>&nbsp;<br/><i>Business / Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Dan&nbsp;Walsh<br/><a href='http://twitter.com/danielwalsh'>@danielwalsh</a></td><td>Intel<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Dan&nbsp;DiCamillo<br/><a href='http://twitter.com/criticalthinker'>@criticalthinker</a></td><td>REI<br/><i>ScrumMaster / Internal Coach</i></td><td>Kent, WA</td></tr>
<tr valign='top'><td></td><td>Daniel&nbsp;Dosen<br/><a href='http://twitter.com/dgdosen'>@dgdosen</a></td><td>AGI Development<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Daniel&nbsp;Stiner</td><td>Microsoft<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Dave&nbsp;Sharrock</td><td>agile42<br/><i>Consultant / External Coach</i></td><td>Vancouver</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Bernstein<br/><a href='http://twitter.com/ToBeAgile'>@ToBeAgile</a></td><td>To Be Agile<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Eisenheim</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Kramer</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Whitlock</td><td>Tripwire, Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Deborah &nbsp;Drake<br/><a href='http://twitter.com/deborahdrake'>@deborahdrake</a></td><td>authentic writing provokes<br/><i>Consultant / External Coach</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Derek&nbsp;Jamison<br/><a href='http://twitter.com/codeallnight'>@codeallnight</a></td><td>Microsoft<br/><i>Developer</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Dhaval&nbsp;Panchal</td><td>agile42<br/><i>Consultant / External Coach</i></td><td>Houston, TX</td></tr>
<tr valign='top'><td></td><td>Diana&nbsp;Kolomiyets</td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Diana&nbsp;Larsen<br/><a href='http://twitter.com/DianaOfPortland'>@DianaOfPortland</a></td><td>FutureWorks Consulting LLC<br/><i>Consultant / External Coach</i></td><td>Portland OR</td></tr>
<tr valign='top'><td></td><td>Don&nbsp;Moen</td><td>Vertafore<br/><i>Agile Coach</i></td><td>Bothell, WA</td></tr>
<tr valign='top'><td></td><td>Don&nbsp;Shanks<br/><a href='http://twitter.com/baldpenguin'>@baldpenguin</a></td><td>Marchex, Inc.<br/><i>Developer</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Doug&nbsp;Nelson</td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Doug&nbsp;Shanks</td><td>XPO Logistics<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Doug&nbsp;Fischels</td><td>Caiman Consulting<br/><i>Consultant / External Coach</i></td><td>Redmond</td></tr>
<tr valign='top'><td></td><td>Dustin&nbsp;Franklin</td><td>Hunter Industries<br/><i>Developer</i></td><td>San Marcos</td></tr>
<tr valign='top'><td></td><td>Echo&nbsp;Cain</td><td>Providence Health Plan<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland </td></tr>
<tr valign='top'><td></td><td>Elise&nbsp;Shapiro</td><td>Qumulo<br/><i>ScrumMaster / Internal Coach</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Elizabeth&nbsp;Bladow</td><td>SolutionsIQ<br/><i>Business / Management</i></td><td>Redmond, Washington</td></tr>
<tr valign='top'><td></td><td>Eric&nbsp;Borzello</td><td>&nbsp;<br/><i>Developer</i></td><td>Kirkland, WA</td></tr>
<tr valign='top'><td></td><td>Eric&nbsp;Gunnerson<br/><a href='http://twitter.com/Eric_Gunnerson'>@Eric_Gunnerson</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Eric&nbsp;Lee<br/><a href='http://twitter.com/saintgimp'>@saintgimp</a></td><td>Microsoft<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Eric&nbsp;Wahlquist</td><td>Starbucks<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Erich&nbsp;Buhler<br/><a href='http://twitter.com/erichbuhler'>@erichbuhler</a></td><td>Ágil Ibérica<br/><i>Consultant / External Coach</i></td><td>Spain and South America</td></tr>
<tr valign='top'><td></td><td>Ethan&nbsp;Flory</td><td>Tree Top, Inc<br/><i>Developer</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Ethan&nbsp;Treber</td><td>Salesforce.com<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Giorgio&nbsp;Leon-Guerrero</td><td>VersionOne<br/><i>Solutions Engineer</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Greg&nbsp;Myers</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Greg&nbsp;Smith<br/><a href='http://twitter.com/agilesmith'>@agilesmith</a></td><td>GS Solutions Group<br/><i>Consultant / External Coach</i></td><td>Bellevue</td></tr>
<tr valign='top'><td></td><td>Harold&nbsp;Shinsato<br/><a href='http://twitter.com/hajush'>@hajush</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Missoula, MT</td></tr>
<tr valign='top'><td></td><td>Ian&nbsp;Savage<br/><a href='http://twitter.com/iesavage'>@iesavage</a></td><td>Tek-ASG-Bidtek-CFI-Tiger-Symyx-McAfee (Ret.)<br/><i>Tester / QA</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Jaime Lyn&nbsp;Schatz<br/><a href='http://twitter.com/edupunkn00b'>@edupunkn00b</a></td><td>&nbsp;<br/><i>Project Management</i></td><td>Redmond, WA</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Bullard</td><td>IHME<br/><i>IT Director </i></td><td>SEATTLE</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Crabtree</td><td>Slalom Consulting<br/><i>Project Management</i></td><td>SEATTLE</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Denyer</td><td>Starbucks<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jason&nbsp;Andersen</td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jason&nbsp;Suplizio<br/><a href='http://twitter.com/suplizio'>@suplizio</a></td><td>Nordstrom<br/><i>Business / Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Jay&nbsp;Bazuzi<br/><a href='http://twitter.com/Jaybazuzi'>@Jaybazuzi</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Bellevue, wa</td></tr>
<tr valign='top'><td></td><td>Jay&nbsp;Vandewark</td><td>&nbsp;<br/><i>Business / Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jean&nbsp;Richardson<br/><a href='http://twitter.com/JeanAtAzureGate'>@JeanAtAzureGate</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Smith</td><td>Home Depot<br/><i>ScrumMaster / Internal Coach</i></td><td>Austin, TX</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Pasek</td><td>&nbsp;<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Jeffery&nbsp;Andersen</td><td>Tripwire Inc.<br/><i>Business / Management</i></td><td>PDX</td></tr>
<tr valign='top'><td></td><td>Jen&nbsp;Oleson</td><td>Slalom Consulting<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jennifer&nbsp;Steinhilber</td><td>CDK Global<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jeremy&nbsp;Davis</td><td>Parametric Portfolio Associates<br/><i>Tester / QA</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Jeremy&nbsp;Lightsmith<br/><a href='http://twitter.com/lightsmith'>@lightsmith</a></td><td>Transparent Classroom<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Jeremy&nbsp;Moody</td><td>Marchex<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jerry&nbsp;Nelson</td><td>Nike<br/><i>Business / Management</i></td><td>Portland OR</td></tr>
<tr valign='top'><td></td><td>Jerry&nbsp;Metcalf</td><td>Allegro Business Solutions<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jody&nbsp;Wolfborn</td><td>Chef<br/><i>inside solutions architect</i></td><td>San Francisco, CA</td></tr>
<tr valign='top'><td></td><td>Joe&nbsp;Daniels</td><td>Parametric Portfolio Associates<br/><i>Business / Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Joe&nbsp;Blotner</td><td>Marchex<br/><i>Engineering management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Joel&nbsp;Robinson</td><td>REI<br/><i>ScrumMaster / Internal Coach</i></td><td>Redmond</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Hagler</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Helm</td><td>OMNI Retail Group<br/><i>Business / Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Lewis</td><td>&nbsp;<br/><i>Developer</i></td><td>Sammamish, WA</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Muirhead</td><td>Tree Top, Inc<br/><i>Network Engineer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Vivio</td><td>&nbsp;<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jon&nbsp;Madison<br/><a href='http://twitter.com/jonmadison'>@jonmadison</a></td><td>&nbsp;<br/><i>Developer</i></td><td>seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jon&nbsp;Sequeira<br/><a href='http://twitter.com/jonsequitur'>@jonsequitur</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jos&nbsp;van Schagen</td><td>Marchex, Inc.<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Josh&nbsp;Greisen</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Josh&nbsp;Claar</td><td>Starbucks<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Joshua&nbsp;Mueller</td><td>Philips<br/><i>Project Management</i></td><td>Seattle, Washington</td></tr>
<tr valign='top'><td></td><td>Joshua&nbsp;O'Brien<br/><a href='http://twitter.com/OBrienCommaJosh'>@OBrienCommaJosh</a></td><td>Chef Software, Inc.<br/><i>Consultant / External Coach</i></td><td>San Francisco</td></tr>
<tr valign='top'><td></td><td>Joshua&nbsp;Rolstad</td><td>Parametric Portfolio Associates<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Julia&nbsp;Wester</td><td>LeanKit<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Justin&nbsp;Redd<br/><a href='http://twitter.com/justinredd'>@justinredd</a></td><td>CHEF<br/><i>Consultant / External Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Justin&nbsp;Wolf</td><td>Cisco Systems, Inc.<br/><i>Business / Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Karen&nbsp;Lechner<br/><a href='http://twitter.com/AgileAlaskan'>@AgileAlaskan</a></td><td>State of Alaska<br/><i>Business / Management</i></td><td>Juneau, Alaska</td></tr>
<tr valign='top'><td></td><td>Karen&nbsp;Lewis</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Sammamish, WA</td></tr>
<tr valign='top'><td></td><td>Kate&nbsp;Witt<br/><a href='http://twitter.com/kate_witt'>@kate_witt</a></td><td>Bigger Boat Consulting<br/><i>Project Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Katherine&nbsp;Interiano</td><td>Evisions<br/><i>ScrumMaster / Internal Coach</i></td><td>Irvine</td></tr>
<tr valign='top'><td></td><td>Kathy &nbsp;Doiron</td><td>Starbucks<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Kelly&nbsp;Goodwin</td><td>XPO Logistics<br/><i>Consultant / External Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Kelly&nbsp;West</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Renton, WA</td></tr>
<tr valign='top'><td></td><td>Kevin&nbsp;Klinemeier</td><td>&nbsp;<br/><i>Product Management</i></td><td>wa</td></tr>
<tr valign='top'><td></td><td>Kevin&nbsp;Lummus</td><td>Portland General Electric<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Kimberley&nbsp;Byelick</td><td>Veritas<br/><i>Project Management</i></td><td>Springfield, OR</td></tr>
<tr valign='top'><td></td><td>Lance&nbsp;Cho</td><td>&nbsp;<br/><i>Developer</i></td><td>seattle</td></tr>
<tr valign='top'><td></td><td>Larry&nbsp;Cross</td><td>Simply Measured<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Lena&nbsp;Badicke</td><td>Plaster Group<br/><i>Recruiting Coordinator </i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Lerina&nbsp;Garza</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Linda&nbsp;Fane</td><td>Rolling Waves Consulting, LLC<br/><i>ScrumMaster / Internal Coach</i></td><td>SEATTLE</td></tr>
<tr valign='top'><td></td><td>Lisa&nbsp;Dowling</td><td>Slalom Consulting<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Lisa&nbsp;Pierson</td><td>Intel<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Lonny&nbsp;Cross</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Bellevue</td></tr>
<tr valign='top'><td></td><td>Lorraine&nbsp;Welty</td><td>Raintree Systems<br/><i>Product Management</i></td><td>Temecula, CA</td></tr>
<tr valign='top'><td></td><td>Luke&nbsp;Walter</td><td>Collabnet<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Mamta&nbsp;Singh<br/><a href='http://twitter.com/ '>@ </a></td><td>&nbsp;<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Marci&nbsp;Marra</td><td>Caiman Consulting<br/><i>Consultant / External Coach</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Margeaux&nbsp;Bucher</td><td>Business Wire<br/><i>ScrumMaster / Internal Coach</i></td><td>San Francisco, CA</td></tr>
<tr valign='top'><td></td><td>Marit&nbsp;Andreassen</td><td>BEKK Consulting<br/><i>ScrumMaster / Internal Coach</i></td><td>Oslo</td></tr>
<tr valign='top'><td></td><td>Marius&nbsp;Grigoriu<br/><a href='http://twitter.com/mariusgrigoriu'>@mariusgrigoriu</a></td><td>Nordstrom<br/><i>Business / Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Martin&nbsp;Chase</td><td>MobilePaks<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Mary&nbsp;Panza</td><td>Parametric Portfolio Associates<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Matt&nbsp;Furan</td><td>Parametric Portfolio Associates<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Matt&nbsp;Kramer</td><td>Capital One<br/><i>ScrumMaster / Internal Coach</i></td><td>seattle</td></tr>
<tr valign='top'><td></td><td>Matthew&nbsp;Carlson<br/><a href='http://twitter.com/mcarlson_sb'>@mcarlson_sb</a></td><td>Ticketfly<br/><i>ScrumMaster / Internal Coach</i></td><td>San Francisco CA</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Braly<br/><a href='http://twitter.com/michaelbraly'>@michaelbraly</a></td><td>University of Washington<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;James</td><td>Seattle Scrum<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Tardiff<br/><a href='http://twitter.com/mjt'>@mjt</a></td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Wolf</td><td>Change Healthcare<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Ferrante</td><td>&nbsp;<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Michaela&nbsp;Hutfles<br/><a href='http://twitter.com/3countylaugh'>@3countylaugh</a></td><td>Qumulo<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Michal&nbsp;Graves</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Michelle&nbsp;Hochstetler</td><td>NWEA<br/><i>Tester / QA</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Mike&nbsp;Lonergan<br/><a href='http://twitter.com/paranoidmike'>@paranoidmike</a></td><td>New Relic<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Mike&nbsp;Naglieri</td><td>Getty Images<br/><i>Product Management</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Molly&nbsp;Brown</td><td>Qumulo<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Morgan&nbsp;Doocy</td><td>MetaBrite<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Nguyen&nbsp;Lam</td><td>&nbsp;<br/><i>Project Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Nicholas&nbsp;Tucker<br/><a href='http://twitter.com/tuckagile'>@tuckagile</a></td><td>REI<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, Wa</td></tr>
<tr valign='top'><td></td><td>Pam&nbsp;Dyer</td><td>Agile Alliance<br/><i>Marketing Chief</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Pat&nbsp;Hemmen</td><td>Childrens Hospital<br/><i>Project Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Pat&nbsp;Maddox<br/><a href='http://twitter.com/patmaddox'>@patmaddox</a></td><td>&nbsp;<br/><i>Developer</i></td><td>SLC, UT</td></tr>
<tr valign='top'><td></td><td>Pat&nbsp;McMonagle</td><td>SeaSPIN<br/><i>Developer, Tester, Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Patrick&nbsp;Lamasney</td><td>Expedia<br/><i>ScrumMaster / Internal Coach</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Patrick&nbsp;OKelley</td><td>Bungie<br/><i>Business / Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Paul&nbsp;McCallick</td><td>&nbsp;<br/><i>Business / Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Paul&nbsp;Osborn<br/><a href='http://twitter.com/theAgilePMO'>@theAgilePMO</a></td><td>The Agile PMO<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Paul&nbsp;Wynia<br/><a href='http://twitter.com/workagile'>@workagile</a></td><td>Work Agile Consulting<br/><i>Consultant / External Coach</i></td><td>San Diego, Ca</td></tr>
<tr valign='top'><td></td><td>Pavel&nbsp;Gritsai</td><td>Amazon<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Ray&nbsp;Arell<br/><a href='http://twitter.com/elmoray'>@elmoray</a></td><td>Intel<br/><i>Business / Management</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Rebecca&nbsp;Wirfs-Brock</td><td>Wirfs-Brock Associates<br/><i>Consultant / External Coach</i></td><td>Sherwood, OR</td></tr>
<tr valign='top'><td></td><td>Rebecca&nbsp;Jacobsen</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Rhonda&nbsp;Dohm</td><td>Tripwire<br/><i>ScrumMaster / Internal Coach</i></td><td>Alpharetta, Georgia</td></tr>
<tr valign='top'><td></td><td>Rich&nbsp;Sowder</td><td>Tree Top, Inc.<br/><i>Server and Storage</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Rob&nbsp;Etzel</td><td>Tripwire<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Robert&nbsp;Morris</td><td>Marchex<br/><i>Business / Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Ron&nbsp;Quartel<br/><a href='http://twitter.com/agileagitator'>@agileagitator</a></td><td>Cron Technologies<br/><i>Developer</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Sanyaalak&nbsp;Burkhart</td><td>Getty Images<br/><i>Project Management</i></td><td>seattle</td></tr>
<tr valign='top'><td></td><td>Sara&nbsp;Sell</td><td>Evisions<br/><i>Engineering operations manager</i></td><td>Portland or</td></tr>
<tr valign='top'><td></td><td>Sarah&nbsp;Mei<br/><a href='http://twitter.com/sarahmei'>@sarahmei</a></td><td>DevMynd Software<br/><i>Developer</i></td><td>San Francisco</td></tr>
<tr valign='top'><td></td><td>Sarah&nbsp;OBrien</td><td>The Seattle Times<br/><i>Project Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Scott&nbsp;Emery</td><td>Oregon State University<br/><i>Director, IT Relations</i></td><td>Corvallis OR</td></tr>
<tr valign='top'><td></td><td>Scott&nbsp;Lonheim</td><td>Protiviti<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Scott&nbsp;Theener</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Sergey&nbsp;Trikur</td><td>Portland General Electric<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland Oregon</td></tr>
<tr valign='top'><td></td><td>Shama&nbsp;Bole</td><td>Plaster Group<br/><i>Project Management</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>Shawn&nbsp;Cao</td><td>&nbsp;<br/><i>Developer</i></td><td>seattle, WA</td></tr>
<tr valign='top'><td></td><td>Shella&nbsp;Knoll</td><td>Tree Top, Inc.<br/><i>Project Management</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Shy&nbsp;Aberman</td><td>General UI LLC<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Srilu&nbsp;Pinjala</td><td>Expedia / PNSQC<br/><i>Tester / QA</i></td><td>Bellevue</td></tr>
<tr valign='top'><td></td><td>Stacy&nbsp;Randolph</td><td>Agilysys<br/><i>Project Management</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Stacy&nbsp;Watts<br/><a href='http://twitter.com/stacybird'>@stacybird</a></td><td>Acquia<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Steve&nbsp;Hamilton<br/><a href='http://twitter.com/Stevenhamilton'>@Stevenhamilton</a></td><td>CDK Global<br/><i>Product Management</i></td><td>Seattle, wa</td></tr>
<tr valign='top'><td></td><td>Steve &nbsp;Holt<br/><a href='http://twitter.com/skholt'>@skholt</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Woodinville, WA</td></tr>
<tr valign='top'><td></td><td>Steve&nbsp;Smith</td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Bellevue</td></tr>
<tr valign='top'><td></td><td>Stewart&nbsp;Loving-Gibbard</td><td>&nbsp;<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Sudar&nbsp;Anand</td><td>Starbucks<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Suzanne&nbsp;Johnson</td><td>SolutionsIQ<br/><i>Recruiter</i></td><td>Redmond, WA</td></tr>
<tr valign='top'><td></td><td>Tanya&nbsp;Miksys</td><td>Slalom<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Taylor&nbsp;Hess</td><td>&nbsp;<br/><i>Product Management</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Ted&nbsp;Bardusch</td><td>&nbsp;<br/><i>VP Eng</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Teri&nbsp;Walton</td><td>Tree Top, Inc.<br/><i>Project Management</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Tessa&nbsp;Mandy</td><td>VersionOne<br/><i>Enterprise Account Director</i></td><td>West Coast</td></tr>
<tr valign='top'><td></td><td>Thomas&nbsp;Boyles</td><td>Birst<br/><i>Developer</i></td><td>San Francisco</td></tr>
<tr valign='top'><td></td><td>Thomas&nbsp;Vollmer</td><td>&nbsp;<br/><i>eng manager</i></td><td>Redmond, WA</td></tr>
<tr valign='top'><td></td><td>Tim&nbsp;Bomke<br/><a href='http://twitter.com/TimBomke'>@TimBomke</a></td><td>Starbucks<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Tim&nbsp;Cunnane<br/><a href='http://twitter.com/timcunnane'>@timcunnane</a></td><td>Bigger Boat Consulting<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Tom&nbsp;Haile</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Tom&nbsp;Perry<br/><a href='http://twitter.com/tlperry'>@tlperry</a></td><td>Rally/CA<br/><i>Business / Management</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Tommy&nbsp;Vance</td><td>Starbucks<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Tonianne&nbsp;DeMaria<br/><a href='http://twitter.com/sprezzatura'>@sprezzatura</a></td><td>Modus Cooperandi / Modus Institute<br/><i>Consultant / External Coach</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>Troy&nbsp;Frever<br/><a href='http://twitter.com/troywfrever'>@troywfrever</a></td><td>Ripl<br/><i>Developer</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Val&nbsp;Hamry</td><td>Vertafore<br/><i>Project Management</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Valerie&nbsp;Bourgeois</td><td>Tripwire, Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Alpharetta, GA</td></tr>
<tr valign='top'><td></td><td>Valerie&nbsp;Morris</td><td>Visa<br/><i>ScrumMaster / Internal Coach</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Varun&nbsp;Das</td><td>Marchex<br/><i>Product Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Vibhu&nbsp;Srinivasan</td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Vikram&nbsp;Ramnath</td><td>&nbsp;<br/><i>Project Management</i></td><td>Portland,OR</td></tr>
<tr valign='top'><td></td><td>Vinny&nbsp;Pasceri</td><td>&nbsp;<br/><i>Program Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Wes&nbsp;Morgan</td><td>Effectivators<br/><i>Business / Management</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Wes&nbsp;Ruemping</td><td>&nbsp;<br/><i>Business / Management</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Willem&nbsp;Larsen</td><td>MobilePaks<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Woody&nbsp;Zuill<br/><a href='http://twitter.com/woodyzuill'>@woodyzuill</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>San Diego, California</td></tr>
</tbody>
</table>
