<table class='table table-striped table-condensed'>
<thead><tr><th>*</th><th>Name / Twitter handle</th><th>Company / Role</th><th>City</th></tr></thead>
<tbody>
<tr valign='top'><td></td><td>Aaron&nbsp;Johnson<br/><a target='_blank' href='http://twitter.com/andormaybe'>@andormaybe</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Portland metro area</td></tr>
<tr valign='top'><td></td><td>Aaron&nbsp;Santavicca</td><td>Walmart<br/><i>People Manager</i></td><td>Arkansas</td></tr>
<tr valign='top'><td></td><td>Aaron&nbsp;Griffith</td><td>Hunter Industries<br/><i>Developer</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Adam&nbsp;Light</td><td>SoTech Advisors<br/><i>Consultant / External Coach</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>Ainsley&nbsp;Nies<br/><a target='_blank' href='http://twitter.com/ainszo'>@ainszo</a></td><td>Acorn Consulting Enterprises<br/><i>Consultant / External Coach</i></td><td>Pacifica, CA</td></tr>
<tr valign='top'><td></td><td>Aki&nbsp;Namioka</td><td>Plaster Group<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Al&nbsp;Persondek</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Al&nbsp;Faretta</td><td>Tripwire, Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Georgia</td></tr>
<tr valign='top'><td></td><td>Alberto&nbsp;Aguirre</td><td>Tree Top, Inc.<br/><i></i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Alec&nbsp;Swirski</td><td>Parametric Portfolio Associates<br/><i>Project Manager</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Ambica&nbsp;Sogal</td><td>Steelcase<br/><i>Product Manager / Product Owner</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Andrea&nbsp;Acheson</td><td>agile42<br/><i>Business Manager</i></td><td>British Columbia </td></tr>
<tr valign='top'><td></td><td>Andrea&nbsp;Acheson</td><td>agile42<br/><i>Business Manager</i></td><td>British Columbia </td></tr>
<tr valign='top'><td></td><td>Andrea&nbsp;Whitaker</td><td>PGE<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Andrea&nbsp;Whitaker</td><td>PGE<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Andrew&nbsp;Gabler</td><td>Korry Electronics<br/><i></i></td><td>Seattle</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Andrew&nbsp;Rux<br/><a target='_blank' href='http://twitter.com/warux3'>@warux3</a></td><td>Rux Softwerks<br/><i>Product Manager / Product Owner</i></td><td>PDX</td></tr>
<tr valign='top'><td></td><td>Angela&nbsp;Kletzok</td><td>Standard Insurance<br/><i></i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>Arlo&nbsp;Belshee<br/><a target='_blank' href='http://twitter.com/arlobelshee'>@arlobelshee</a></td><td>Tableau Software<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Ashlyn&nbsp;Leahy</td><td>Concur<br/><i>ScrumMaster / Internal Coach</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Bela&nbsp;Espinosa</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Beth&nbsp;Westley</td><td>The CBORD Group<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Branden&nbsp;Pearson</td><td>Clinicient<br/><i>Product Manager / Product Owner</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Brent&nbsp;Barton<br/><a target='_blank' href='http://twitter.com/brentbarton'>@brentbarton</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Brett&nbsp;Palmer<br/><a target='_blank' href='http://twitter.com/brett_palmer'>@brett_palmer</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Orange County, CA</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Thomas</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Beaverton, Oregon</td></tr>
<tr valign='top'><td></td><td>Brian&nbsp;Sanborn</td><td>USDA Forest Service - NRM<br/><i>Project Manager</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Buck&nbsp;Woodward</td><td>nike<br/><i>Project Manager</i></td><td>Beaverton</td></tr>
<tr valign='top'><td></td><td>Carolyn&nbsp;Schmidt</td><td>Veritas<br/><i>Project Manager</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Casey&nbsp;Sieverman</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Catherine&nbsp;Stone</td><td>Walmart<br/><i>Business Manager</i></td><td>Arkansas</td></tr>
<tr valign='top'><td></td><td>chae&nbsp;pak</td><td>&nbsp;<br/><i></i></td><td>oregon</td></tr>
<tr valign='top'><td></td><td>Charlena&nbsp;Houck</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Cheri&nbsp;Lazenby</td><td>Percipio Consulting Group<br/><i></i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Chris&nbsp;Alexander</td><td>AGLX Consulting, LLC<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Chris&nbsp;Moody<br/><a target='_blank' href='http://twitter.com/chriswmoody'>@chriswmoody</a></td><td>Slalom<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Chris&nbsp;Lucian</td><td>Hunter Industries<br/><i>Business Manager</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Christine&nbsp;Austin</td><td>&nbsp;<br/><i>Product Manager / Product Owner</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Chuck&nbsp;van der Linden<br/><a target='_blank' href='http://twitter.com/Chuckvdl'>@Chuckvdl</a></td><td>Concur<br/><i>Tester / QA</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Colin&nbsp;Hart</td><td>Method360<br/><i>Project Manager</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Colleen&nbsp;Berretta</td><td>OHSU<br/><i>ScrumMaster / Internal Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Conor&nbsp;Buescher</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Beaverton</td></tr>
<tr valign='top'><td></td><td>Cotten&nbsp;Blackwell</td><td>&nbsp;<br/><i>People Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Dan&nbsp;DiCamillo<br/><a target='_blank' href='http://twitter.com/criticalthinker'>@criticalthinker</a></td><td>Getty Images<br/><i>People Manager</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Daniel&nbsp;Walsh<br/><a target='_blank' href='http://twitter.com/danielwalsh'>@danielwalsh</a></td><td>nuCognitive<br/><i>Consultant / External Coach</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>Dave&nbsp;Gipp<br/><a target='_blank' href='http://twitter.com/davegipp'>@davegipp</a></td><td>Slalom<br/><i>Consultant / External Coach</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Bernstein<br/><a target='_blank' href='http://twitter.com/ToBeAgile'>@ToBeAgile</a></td><td>To Be Agile<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Eisenheim</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>David&nbsp;Whitlock</td><td>Tripwire, Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Deborah&nbsp;Drake<br/><a target='_blank' href='http://twitter.com/deborahdrake'>@deborahdrake</a></td><td>Authentic Writing Provokes <br/><i>Business Manager</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Derek&nbsp;Jamison<br/><a target='_blank' href='http://twitter.com/codeallnight'>@codeallnight</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Diana&nbsp;Kolomiyets</td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Doug&nbsp;Shanks</td><td>XPO Logistics<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td><span title='Volunteer'>V</span></td><td>Elise&nbsp;Shapiro<br/><a target='_blank' href='http://twitter.com/eliseshapiro'>@eliseshapiro</a></td><td>Qumulo<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Eric&nbsp;Gunnerson<br/><a target='_blank' href='http://twitter.com/eric_gunnerson'>@eric_gunnerson</a></td><td>Microsoft<br/><i>Developer</i></td><td>Bellevue, WA</td></tr>
<tr valign='top'><td></td><td>Eric&nbsp;Herr</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Eric&nbsp;Maino<br/><a target='_blank' href='http://twitter.com/ericmaino'>@ericmaino</a></td><td>Microsoft<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Erica&nbsp;Beffert</td><td>Evisions, Inc.<br/><i>Product Manager / Product Owner</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Erik&nbsp;Simmons</td><td>nuCognitive LLC<br/><i>Consultant / External Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Farsaneh&nbsp;Orak</td><td>Hunter Industries<br/><i>Developer</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Garrick&nbsp;West<br/><a target='_blank' href='http://twitter.com/garrickwest'>@garrickwest</a></td><td>&nbsp;<br/><i>Developer</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Gina&nbsp;Anzaldo<br/><a target='_blank' href='http://twitter.com/ginabean'>@ginabean</a></td><td>Federal Reserve Bank of SF<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>GNANESWAR&nbsp;KAKANI</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>PORTLAND, OR</td></tr>
<tr valign='top'><td></td><td>Harold&nbsp;Shinsato<br/><a target='_blank' href='http://twitter.com/hajush'>@hajush</a></td><td>Montana Agile Culture House<br/><i>Consultant / External Coach</i></td><td>Montana</td></tr>
<tr valign='top'><td></td><td>Heather&nbsp;Munion</td><td>The Standard<br/><i>Tester / QA</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Herman&nbsp;Munster</td><td>&nbsp;<br/><i></i></td><td>Transylvania</td></tr>
<tr valign='top'><td></td><td>Ian&nbsp;Roberts</td><td>Nike, Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Beaverton, OR</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Counts<br/><a target='_blank' href='http://twitter.com/jamesrcounts'>@jamesrcounts</a></td><td>James Counts Consulting<br/><i>Consultant / External Coach</i></td><td>San Diego</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Shore<br/><a target='_blank' href='http://twitter.com/jamesshore'>@jamesshore</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>James&nbsp;Bass</td><td>Clinicient<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jay&nbsp;Bazuzi<br/><a target='_blank' href='http://twitter.com/jaybazuzi'>@jaybazuzi</a></td><td>Tableau Software<br/><i>Developer</i></td><td>Bellevue</td></tr>
<tr valign='top'><td></td><td>Jean&nbsp;Richardson<br/><a target='_blank' href='http://twitter.com/JeanAtAzureGate'>@JeanAtAzureGate</a></td><td>Azure Gate Consulting, LLC<br/><i>Consultant / External Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Andersen</td><td>Tripwire<br/><i>Business Manager</i></td><td>Portland OR</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Holt</td><td>Symantec<br/><i>Product Manager / Product Owner</i></td><td>Stevenson, Washington</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Lopez-Stuit<br/><a target='_blank' href='http://twitter.com/improvementsch'>@improvementsch</a></td><td>Improvement School<br/><i>Consultant / External Coach</i></td><td>Earth</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Smith<br/><a target='_blank' href='http://twitter.com/visionary1usa'>@visionary1usa</a></td><td>Presidio<br/><i>ScrumMaster / Internal Coach</i></td><td>Austin, TX</td></tr>
<tr valign='top'><td></td><td>Jeff&nbsp;Forde</td><td>MetaBrite<br/><i>Developer</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Jennifer&nbsp;Hammond</td><td>Learning.com<br/><i>Developer</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Jennifer&nbsp;Oleson</td><td>Slalom Consulting<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Jennifer&nbsp;Steinhilber</td><td>CDK Global<br/><i>Product Manager / Product Owner</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Jennifer&nbsp;Brandal</td><td>Clinicient<br/><i>Project Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Jim&nbsp;Tyhurst<br/><a target='_blank' href='http://twitter.com/jimtyhurst'>@jimtyhurst</a></td><td>Tyhurst Technology Group LLC<br/><i>Developer</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Joel&nbsp;Robinson</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Redmond/WA</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Hagler</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Muirhead</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>John&nbsp;Vivio</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Jon&nbsp;Jorgensen<br/><a target='_blank' href='http://twitter.com/waterscrumban'>@waterscrumban</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Orange County, CA</td></tr>
<tr valign='top'><td></td><td>Jon&nbsp;Karon<br/><a target='_blank' href='http://twitter.com/fightingmonk'>@fightingmonk</a></td><td>New Relic<br/><i></i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Josh&nbsp;Greisen</td><td>Tree Top, Inc.<br/><i>Project Manager</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Jourdan&nbsp;Bauer</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Kamran&nbsp;Ansari</td><td>Nike Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Beaverton, Oregon</td></tr>
<tr valign='top'><td></td><td>Kari&nbsp;Kjersti</td><td>NIKE<br/><i>ScrumMaster / Internal Coach</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Kelly&nbsp;West</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Ken&nbsp;Weston</td><td>Clinicient<br/><i>Business Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Kevin&nbsp;Lummus</td><td>Portland General Electric<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Kim&nbsp;Byelick</td><td>Veritas<br/><i>Product Manager / Product Owner</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>Kip&nbsp;Krichko</td><td>&nbsp;<br/><i>Project Manager</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Kristie&nbsp;Mitten</td><td>Learning.com<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Leah&nbsp;Friberg</td><td>Fluke Corporation<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>Lerina&nbsp;Garza</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Line&nbsp;Morkbak<br/><a target='_blank' href='http://twitter.com/LineMorkbak'>@LineMorkbak</a></td><td>Global LEAP Consulting<br/><i>Consultant / External Coach</i></td><td>US West coast & Europe</td></tr>
<tr valign='top'><td></td><td>Lorie&nbsp;Gordon<br/><a target='_blank' href='http://twitter.com/cricketgordon'>@cricketgordon</a></td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>oregon</td></tr>
<tr valign='top'><td></td><td>Lorraine&nbsp;Welty</td><td>&nbsp;<br/><i>Product Manager / Product Owner</i></td><td>Temecula, CA</td></tr>
<tr valign='top'><td></td><td>Lynda&nbsp;Gusick</td><td>&nbsp;<br/><i></i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Marcus&nbsp;Blankenship<br/><a target='_blank' href='http://twitter.com/justzeros'>@justzeros</a></td><td>MarcusBlankenship.com<br/><i>Consultant / External Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Mark&nbsp;Jacobs</td><td>&nbsp;<br/><i>Business Manager</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Mark&nbsp;Knell<br/><a target='_blank' href='http://twitter.com/markknell'>@markknell</a></td><td>&nbsp;<br/><i>Developer</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>Mark&nbsp;Liebe</td><td>City of Portland - Bureau of Environmental Services<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Martin&nbsp;Fitch</td><td>Kaiser Permanente<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland Oregon</td></tr>
<tr valign='top'><td></td><td>Mary&nbsp;Panza<br/><a target='_blank' href='http://twitter.com/PanzaMary'>@PanzaMary</a></td><td>Parametric Portfolio Associates<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>matt&nbsp;furan</td><td>Parametric<br/><i>Project Manager</i></td><td>SEATTLE</td></tr>
<tr valign='top'><td></td><td>Matthew&nbsp;Pement</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Matthew&nbsp;Plavcan<br/><a target='_blank' href='http://twitter.com/mplavcan'>@mplavcan</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Maura&nbsp;van der Linden</td><td>Concur<br/><i></i></td><td>Washington, USA</td></tr>
<tr valign='top'><td></td><td>Maureen&nbsp;Nonnenmann<br/><a target='_blank' href='http://twitter.com/manonnen'>@manonnen</a></td><td>Alaska Airlines<br/><i>ScrumMaster / Internal Coach</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Megan&nbsp;Benton</td><td>Learning.com<br/><i>Project Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Ferrante</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Michael&nbsp;Holton</td><td>Fluke<br/><i>People Manager</i></td><td>Seattle/WA</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Michael&nbsp;Tardiff<br/><a target='_blank' href='http://twitter.com/mjt'>@mjt</a></td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td><span title='Volunteer'>V</span></td><td>Michael&nbsp;Wolf<br/><a target='_blank' href='http://twitter.com/LearningWolf'>@LearningWolf</a></td><td>Wolf Enterprises<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Michaela&nbsp;Hutfles<br/><a target='_blank' href='http://twitter.com/3countylaugh'>@3countylaugh</a></td><td>Amazon<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Michelle&nbsp;Hochstetler</td><td>NWEA<br/><i>Product Manager / Product Owner</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Michelle&nbsp;Salvado<br/><a target='_blank' href='http://twitter.com/msalvado'>@msalvado</a></td><td>Intel - McAfee<br/><i>People Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Michelle&nbsp;Wu</td><td>Parametric Portfolio Asso<br/><i>Tester / QA</i></td><td>wa</td></tr>
<tr valign='top'><td></td><td>Mike&nbsp;Lonergan<br/><a target='_blank' href='http://twitter.com/Paranoidmike'>@Paranoidmike</a></td><td>&nbsp;<br/><i>Product Manager / Product Owner</i></td><td>Portland OR</td></tr>
<tr valign='top'><td></td><td>Mitchell&nbsp;HuffMenne</td><td>New Relic<br/><i>Project Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>monique&nbsp;streech-hansen</td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>oregon</td></tr>
<tr valign='top'><td></td><td>Nicholas&nbsp;Tucker<br/><a target='_blank' href='http://twitter.com/tuckagile'>@tuckagile</a></td><td>Prep Sportswear Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>nora&nbsp;beyerle</td><td>Epam<br/><i>Project Manager</i></td><td>Portland OR</td></tr>
<tr valign='top'><td></td><td>Pascal&nbsp;van den Beucken</td><td>Fluke<br/><i>Product Manager / Product Owner</i></td><td>Everett</td></tr>
<tr valign='top'><td></td><td>Paul&nbsp;Bock</td><td>Umpqua Bank<br/><i>Product Manager / Product Owner</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Paul&nbsp;Moore<br/><a target='_blank' href='http://twitter.com/pdmoore'>@pdmoore</a></td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Los Angeles</td></tr>
<tr valign='top'><td></td><td>Paula&nbsp;Hannan<br/><a target='_blank' href='http://twitter.com/doodleno1'>@doodleno1</a></td><td>&nbsp;<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, Oregon</td></tr>
<tr valign='top'><td></td><td>Penchalaiah&nbsp;Batta</td><td>Walmart Stores Inc.<br/><i>Project Manager</i></td><td>Bentonville/AR</td></tr>
<tr valign='top'><td></td><td>Peter&nbsp;Miller</td><td>Microsoft<br/><i>Developer</i></td><td>Washington (Microsoft main campus)</td></tr>
<tr valign='top'><td></td><td>Phyllis&nbsp;Thompson</td><td>Self-employed<br/><i>ScrumMaster / Internal Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Rachel&nbsp;Beacock</td><td>CDK Global, Inc<br/><i>People Manager</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Ray&nbsp;Arell<br/><a target='_blank' href='http://twitter.com/elmoray'>@elmoray</a></td><td>nuCognitive<br/><i>Consultant / External Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Rebecca&nbsp;Jacobsen</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Rich&nbsp;Sowder</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Richard&nbsp;VanBeek</td><td>&nbsp;<br/><i>People Manager</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Rob&nbsp;Etzel</td><td>Tripwire<br/><i>ScrumMaster / Internal Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Ron&nbsp;Quartel</td><td>Premera Blue Cross<br/><i>Product Manager / Product Owner</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Roy&nbsp;Zuill<br/><a target='_blank' href='http://twitter.com/woodyzuill'>@woodyzuill</a></td><td>Agile Guide<br/><i>Consultant / External Coach</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Ruth&nbsp;Struck</td><td>The Standard<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Sara&nbsp;Sell</td><td>Evisions<br/><i>Project Manager</i></td><td>portland, or</td></tr>
<tr valign='top'><td></td><td>Sarah&nbsp;Ray</td><td>Fluke Corporation<br/><i>ScrumMaster / Internal Coach</i></td><td>Snohomish, WA</td></tr>
<tr valign='top'><td></td><td>Sathya&nbsp;Janga</td><td>Tripwire, Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>Scott&nbsp;Henderson<br/><a target='_blank' href='http://twitter.com/spr0'>@spr0</a></td><td>Percipio<br/><i>Consultant / External Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Scott&nbsp;Theener</td><td>Nike<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Serhat&nbsp;Ozcanli</td><td>Clinicient<br/><i>People Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Severin&nbsp;Kibby</td><td>Fluke<br/><i>UX Designer</i></td><td>Seattle/WA</td></tr>
<tr valign='top'><td></td><td>Shella&nbsp;Knoll</td><td>Tree Top, Inc.<br/><i>Business Manager</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Shelley&nbsp;Bourgeois</td><td>Tripwire, Inc.<br/><i>ScrumMaster / Internal Coach</i></td><td>Georgia</td></tr>
<tr valign='top'><td></td><td>Sheri&nbsp;Smith</td><td>Fluke Corporation<br/><i>Product Manager / Product Owner</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Shy&nbsp;Aberman</td><td>Metabrite<br/><i>Developer</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Sierra&nbsp;Callahan</td><td>Umpqua Bank<br/><i>ScrumMaster / Internal Coach</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Steve&nbsp;Hamilton<br/><a target='_blank' href='http://twitter.com/stevenhamilton'>@stevenhamilton</a></td><td>CDK Global<br/><i>Product Manager / Product Owner</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Steven&nbsp;Smith</td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Bellevue WA</td></tr>
<tr valign='top'><td></td><td>Stewart&nbsp;Loving-Gibbard</td><td>Sitka Technology Group<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Tait&nbsp;Haasch</td><td>Portland General Electric<br/><i>ScrumMaster / Internal Coach</i></td><td>Oregon</td></tr>
<tr valign='top'><td></td><td>Tanya&nbsp;Miksys</td><td>Slalom Consulting<br/><i>ScrumMaster / Internal Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Taylor&nbsp;Hess</td><td>Sitka Technology Group<br/><i>Product Manager / Product Owner</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>TBD&nbsp;TBD</td><td>Standard Insurance<br/><i></i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>TBD&nbsp;TBD</td><td>Standard Insurance<br/><i>Project Manager</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>TBD&nbsp;TBD</td><td>Stan<br/><i>Project Manager</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>TBD&nbsp;TBD</td><td>Stan<br/><i>Project Manager</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>TBD&nbsp;TBD</td><td>Standard Insurance<br/><i>Project Manager</i></td><td>OR</td></tr>
<tr valign='top'><td></td><td>TBD&nbsp;TBD</td><td>CDK Global, Inc<br/><i>Developer</i></td><td>Portland</td></tr>
<tr valign='top'><td></td><td>Teri&nbsp;Christian</td><td>&nbsp;<br/><i></i></td><td>Bentonville Arkansas</td></tr>
<tr valign='top'><td></td><td>Teri&nbsp;Walton</td><td>Tree Top, Inc.<br/><i>Business Manager</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Thomas&nbsp;Perry<br/><a target='_blank' href='http://twitter.com/tlperry'>@tlperry</a></td><td>&nbsp;<br/><i>Consultant / External Coach</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Tim&nbsp;Cunnane<br/><a target='_blank' href='http://twitter.com/timcunnane'>@timcunnane</a></td><td>SolutionsIQ<br/><i>Consultant / External Coach</i></td><td>Seattle, WA</td></tr>
<tr valign='top'><td></td><td>Todd&nbsp;Gentry</td><td>D+H<br/><i>People Manager</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Tom&nbsp;Brown</td><td>Microsoft<br/><i>Product Manager / Product Owner</i></td><td>Wa</td></tr>
<tr valign='top'><td></td><td>Tom&nbsp;Haile</td><td>Tree Top, Inc.<br/><i>Developer</i></td><td>Washington</td></tr>
<tr valign='top'><td></td><td>Torben&nbsp;Frandsen</td><td>Hunter Industries<br/><i>Developer</i></td><td>California</td></tr>
<tr valign='top'><td><a href='#hosts' title='Host'>H</a></td><td>Troy&nbsp;Frever<br/><a target='_blank' href='http://twitter.com/troywfrever'>@troywfrever</a></td><td>Zipline<br/><i>CTO</i></td><td>Seattle</td></tr>
<tr valign='top'><td></td><td>Tyler&nbsp;Herbert</td><td>Clinicient<br/><i>Product Manager / Product Owner</i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Valentin&nbsp;Iliescu</td><td>Microsoft<br/><i>Developer</i></td><td>WA</td></tr>
<tr valign='top'><td></td><td>Victor&nbsp;La</td><td>Parametric<br/><i>Tester / QA</i></td><td>Seattle WA</td></tr>
<tr valign='top'><td></td><td>Wade&nbsp;Shelton</td><td>Evisions<br/><i></i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Wayne&nbsp;Allen<br/><a target='_blank' href='http://twitter.com/wallen'>@wallen</a></td><td>ISI<br/><i></i></td><td>Portland, OR</td></tr>
<tr valign='top'><td></td><td>Willem&nbsp;Larsen</td><td>Hunter Industries<br/><i>Developer</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>William&nbsp;Getz</td><td>Hunter Industries<br/><i>Developer</i></td><td>California</td></tr>
<tr valign='top'><td></td><td>William&nbsp;Wolff-Myren</td><td>Learning.com<br/><i>Developer</i></td><td>Portland</td></tr>
</tbody>
</table>
<p>* H=Host, V=Volunteer, S=Sponsor</p>
